{{/*
 * Copyright (C) 2015 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */}}

{{Include "rpc_common_go.tmpl"}}
{{$api := Global "API"}}
{{$ | Macro "Rpc" "role" "" "api" | GoFmt | Write (print $api "_rpc.go")}}
{{$ | Macro "Rpc" "role" "Extra" "api" | GoFmt | Write (print $api "_extra.go")}}
{{$ | Macro "Rpc" "role" "Helpers" "api" | GoFmt | Write (print $api "_helpers.go")}}
{{$ | Macro "Client" | GoFmt | Write (print $api "_client.go")}}
{{$ | Macro "Server" | GoFmt | Write (print $api "_server.go")}}

{{define "Rpc"}}
  {{template "GeneratedHeader"}}
  {{Macro (print "Imports" $.role) $.api}}
¶
  {{range $i, $c := $.api.Functions}}
    {{Macro (print "Call" $.role)   $c}}
    {{Macro (print "Result" $.role) $c}}
  {{end}}
¶
  {{range $_, $h := $.api.Pseudonyms}}
    {{if GetAnnotation $h "handle"}}
      {{Macro (print "Handle" $.role) $h}}
    {{else}}
      {{Macro (print "Pseudonym" $.role) $h}}
    {{end}}
  {{end}}
¶
  {{range $_, $a := $.api.Slices}}
    {{Macro (print "Array" $.role) $a}}
  {{end}}
¶
  {{range $_, $e := $.api.Enums}}
    {{Macro (print "Enum" $.role) $e}}
  {{end}}
¶
  {{range $i, $c := $.api.Classes}}
    {{if GetAnnotation $c "Interface"}}
      {{Macro (print "Interface" $.role) $c}}¶
    {{end}}
  {{end}}
¶
  {{range $i, $c := $.api.Classes}}
    {{if not (GetAnnotation $c "Interface")}}
      {{Macro (print "Class" $.role) $c}}¶
    {{end}}
  {{end}}
{{end}}


{{define "Imports"}}
  package {{Global "OutputDir"}};

  import (
    "android.googlesource.com/platform/tools/gpu/binary"
    "android.googlesource.com/platform/tools/gpu/log"
  )

  type RPC interface {
    {{range $_, $c := $.Functions}}
      {{Macro "RpcInterfaceMethod" $c}}
    {{end}}
  }
{{end}}

{{define "ImportsExtra"}}
  package {{Global "OutputDir"}};
{{end}}

{{define "ImportsHelpers"}}
  package {{Global "OutputDir"}};

  import (
    "fmt"
    "android.googlesource.com/platform/tools/gpu/binary"
  )
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the interface method declaration for a single RPC command.
-------------------------------------------------------------------------------
*/}}
{{define "RpcInterfaceMethod"}}
  {{AssertType $ "Function"}}

  {{Macro "VerifyInterfaceReturnTypeIsRef" $}}
  {{$.Name}}({{Macro "ParametersAndLogger" $}})§
    ({{if not (IsVoid $.Return.Type)}}{{Node "Type" $.Return}}, {{end}}error)
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a comma-separated list of command parameters (name followed by type)
  followed by a log.Logger parameter.
-------------------------------------------------------------------------------
*/}}
{{define "ParametersAndLogger"}}
  {{AssertType $ "Function"}}

  {{range $i, $p := $.CallParameters}}
    {{Macro "Parameter" "Parameter" $p "Command" $}}, §
  {{end}}
  l log.Logger
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a comma-separated list of command arguments (names).
-------------------------------------------------------------------------------
*/}}
{{define "Arguments"}}
  {{AssertType $ "Function"}}

  {{range $i, $p := $.CallParameters}}{{if $i}}, {{end}}§{{$p.Name}}:{{$p.Name}}{{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a single command parameter (name followed by type).
-------------------------------------------------------------------------------
*/}}
{{define "Parameter"}}
  {{AssertType $.Parameter "Parameter"}}
  {{AssertType $.Command "Function"}}
  {{Macro "VerifyInterfaceParameterIsRef" "Parameter" $.Parameter "Command" $.Command}}

  {{$.Parameter.Name}} {{Node "Type" $.Parameter}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Walks a class hierarchy to visit all the fields, calling the specified macro
  for each field.
-------------------------------------------------------------------------------
*/}}
{{define "AllFields"}}
  {{AssertType $.Class "Class"}}
  {{AssertType $.Macro "string"}}

  {{Macro "TraverseFields" "Impl" $.Class "Class" $.Class "Macro" $.Macro}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Walks a class hierarchy to visit all the fields, calling the specified macro
  for each field.
-------------------------------------------------------------------------------
*/}}
{{define "TraverseFields"}}
  {{AssertType $.Impl  "Class"}}
  {{AssertType $.Class "Class"}}
  {{AssertType $.Macro "string"}}

  {{range $_, $f := $.Class.Fields}}
    {{Macro $.Macro "Impl" $.Impl "Class" $.Class "Field" $f}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Declares a single field accessor (getter) of an interface.
-------------------------------------------------------------------------------
*/}}
{{define "DeclareInterfaceFieldAccessor"}}
  {{AssertType $.Field "Field"}}

  Get{{$.Field.Name}}() {{Node "Type" $.Field}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Declares a single class field.
-------------------------------------------------------------------------------
*/}}
{{define "DeclareClassField"}}
  {{AssertType $.Field "Field"}}

  {{$.Field.Name}} {{Node "Type" $.Field}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a single field parameter name-type pair for the constructor of a class.
-------------------------------------------------------------------------------
*/}}
{{define "CreateClassParameter"}}
  {{AssertType $.Field "Field"}}

  {{$.Field.Name}} {{Node "Type" $.Field}},
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a the initializer for a single class field.
-------------------------------------------------------------------------------
*/}}
{{define "AssignClassParameter"}}
  {{AssertType $.Field "Field"}}

  {{$.Field.Name}}: {{$.Field.Name}},
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a single field accessor (getter) for a concrete class.
-------------------------------------------------------------------------------
*/}}
{{define "DefineClassFieldAccessor"}}
  {{AssertType $.Field "Field"}}
  {{AssertType $.Impl  "Class"}}

  func (c *{{$.Impl.Name}}) Get{{$.Field.Name}}() {{Node "Type" $.Field}} { return c.{{$.Field.Name}} }
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the interface of a class annotated with @Interface.
-------------------------------------------------------------------------------
*/}}
{{define "Interface"}}
  {{AssertType $ "Class"}}

  {{$iname := $.Name}}
  // Interface {{$.Name}}
  type {{$iname}} interface {
    binary.Object
    {{Macro "AllFields" "Class" $ "Macro" "DeclareInterfaceFieldAccessor"}}
  }
{{end}}
{{define "InterfaceExtra"}}{{end}}
{{define "InterfaceHelpers"}}{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the implementation of a class.
-------------------------------------------------------------------------------
*/}}
{{define "Class"}}
  {{AssertType $ "Class"}}

  {{Macro "AllFields" "Class" $ "Macro" "VerifyInterfaceFieldIsRef"}}

  // Class {{$.Name}}
  type {{$.Name}} struct {
    binary.Generate
    {{Macro "AllFields" "Class" $ "Macro" "DeclareClassField"}}
  }
{{end}}

{{define "ClassExtra"}}{{end}}

{{define "ClassHelpers"}}
  func Create{{$.Name}}(
    {{Macro "AllFields" "Class" $ "Macro" "CreateClassParameter"}}
  ) *{{$.Name}} {
    return &{{$.Name}} {
      {{Macro "AllFields" "Class" $ "Macro" "AssignClassParameter"}}
    }
  }
¶
  {{Macro "AllFields" "Class" $ "Macro" "DefineClassFieldAccessor"}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the definition of a handle.
-------------------------------------------------------------------------------
*/}}
{{define "Handle"}}
  {{AssertType $ "Pseudonym"}}

  // Handle {{$.Name}}
  type {{$.Name}} struct {
    binary.Generate
    ID binary.ID
 }
{{end}}

{{define "HandleExtra"}}{{end}}
{{define "HandleHelpers"}}
func (h {{$.Name}}) Valid() bool {
  return h.ID.Valid()
}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the definition of a pseudonym (typedef).
-------------------------------------------------------------------------------
*/}}
{{define "Pseudonym"}}
  {{AssertType $ "Pseudonym"}}

  type {{$.Name}} {{Node "Type" $.To}}
{{end}}

{{define "PseudonymExtra"}}{{end}}
{{define "PseudonymHelpers"}}{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the definition of an array.
-------------------------------------------------------------------------------
*/}}
{{define "Array"}}
  {{AssertType $ "Slice"}}

  // Array {{$.Name}}
  type {{Node "Type" $}} []{{Node "Type" $.To}}
{{end}}

{{define "ArrayExtra"}}
  {{AssertType $ "Slice"}}
{{end}}

{{define "ArrayHelpers"}}
  {{AssertType $ "Slice"}}

  func (a {{Node "Type" $}}) Format(f fmt.State, c rune) {
    fmt.Fprintf(f, "[%d]{{$.Name}}", len(a))
  }
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the definition of an enum.
-------------------------------------------------------------------------------
*/}}
{{define "Enum"}}
  {{AssertType $ "Enum"}}

  // Enum {{$.Name}}
  type {{$.Name}} int
¶
  const (
    {{range $_, $e := $.Entries}}
      {{$.Name}}{{$e.Name}} {{$.Name}}= {{$e.Value}}
    {{end}}
  )
{{end}}

{{define "EnumExtra"}}
  {{AssertType $ "Enum"}}
{{end}}

{{define "EnumHelpers"}}
  {{AssertType $ "Enum"}}

  {{range $_, $e := $.Entries}}
    func (i {{$.Name}}) Is{{$e.Name}}() bool { return i == {{$.Name}}{{$e.Name}} }
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the name of the call type for a single command.
-------------------------------------------------------------------------------
*/}}
{{define "CallName"}}
  {{AssertType $ "Function"}}

  {{print "call" $.Name}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the name of the result type for a single command.
-------------------------------------------------------------------------------
*/}}
{{define "ResultName"}}
  {{AssertType $ "Function"}}

  {{print "result" $.Name}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the call structure for a single command.
-------------------------------------------------------------------------------
*/}}
{{define "Call"}}
  {{AssertType $ "Function"}}
{{end}}

{{define "CallExtra"}}
  {{AssertType $ "Function"}}

  // Call {{$.Name}}
  type {{Macro "CallName" $}} struct {
    binary.Generate
    {{range $i, $p := $.CallParameters}}
      {{$p.Name}} {{Node "Type" (TypeOf $p)}}
    {{end}}
  }
{{end}}

{{define "CallHelpers"}}
  {{AssertType $ "Function"}}

  func (c {{Macro "CallName" $}}) Format(f fmt.State, r rune) {
    fmt.Fprintf(f, "{{$.Name}}(§
      {{range $i, $p := $.CallParameters}}{{if $i}}, {{end}}{{$p.Name}}: %v{{end}})",
      {{range $i, $p := $.CallParameters}}c.{{$p.Name}},{{end}}
    )
  }
{{end}}

{{/*
-------------------------------------------------------------------------------
  Emits the result structure for a single command.
-------------------------------------------------------------------------------
*/}}
{{define "Result"}}
  {{AssertType $ "Function"}}
{{end}}

{{define "ResultExtra"}}
  {{AssertType $ "Function"}}

  // Result {{$.Name}}
  type {{Macro "ResultName" $}} struct {
    binary.Generate
    {{if not (IsVoid $.Return.Type)}}
      value {{Node "Type" $.Return.Type}}
    {{end}}
  }
{{end}}

{{define "ResultHelpers"}}
  {{AssertType $ "Function"}}

  func (r {{Macro "ResultName" $}}) Format(f fmt.State, c rune) {
    {{if not (IsVoid $.Return.Type)}}
      fmt.Fprintf(f, "res: %#v", r.value)
    {{else}}
      fmt.Fprintf(f, "void")
    {{end}}
  }
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the RPC client implementation
-------------------------------------------------------------------------------
*/}}
{{define "Client"}}
  {{AssertType $ "API"}}

  {{template "GeneratedHeader"}}
  package {{Global "OutputDir"}};

  import (
    "io"

    "android.googlesource.com/platform/tools/gpu/binary/registry"
    "android.googlesource.com/platform/tools/gpu/log"
    "android.googlesource.com/platform/tools/gpu/multiplexer"
    "android.googlesource.com/platform/tools/gpu/rpc"
  )

  // Client is the client interface for RPC calls.
  type Client interface {
    // Client exposes all the RPC interface methods.
    RPC

    // Multiplexer returns the multiplexer used for communication to the server.
    Multiplexer() *multiplexer.Multiplexer

    // Namespace returns the custom namespace used for decoding responses from the
    // server, or nil if no custom namespace has been specified.
    Namespace() *registry.Namespace
  }

  type client struct { rpc.Client }

  // NewClient creates a new rpc client object that uses the multiplexer m for
  // communication the namespace n for decoding objects. If n is nil then the
  // global namespace is used.
  func NewClient(m *multiplexer.Multiplexer, n *registry.Namespace) Client {
    return client{rpc.NewClient(m, n)}
  }

  // Client compliance
  {{range $_, $c := $.Functions}}
    {{if not (IsVoid $c.Return.Type)}}
      func (c client) {{$c.Name}}({{Macro "ParametersAndLogger" $c}}) (res {{Node "Type" $c.Return}}, err error) {
        var val interface{}
        if val, err = c.Send(&{{Macro "CallName" $c}}{ {{Macro "Arguments" $c}} }); err == nil {
          res = val.(*{{Macro "ResultName" $c}}).value
        } else {
          log.Errorf(l, "RPC {{$c.Name}} failed with error: %v", err)
        }
        return
      }
    {{else}}
      func (c client) {{$c.Name}}({{Macro "ParametersAndLogger" $c}}) error {
        _, err := c.Send(&{{Macro "CallName" $c}}{ {{Macro "Arguments" $c}} })
        return err
      }
    {{end}}
    ¶
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the RPC server implementation
-------------------------------------------------------------------------------
*/}}
{{define "Server"}}
  {{AssertType $ "API"}}

  {{template "GeneratedHeader"}}
  package {{Global "OutputDir"}};

  import (
    "fmt"
    "io"
    "runtime/debug"

    "android.googlesource.com/platform/tools/gpu/config"
    "android.googlesource.com/platform/tools/gpu/log"
    "android.googlesource.com/platform/tools/gpu/rpc"
  )

  func BindServer(r io.Reader, w io.Writer, mtu int, l log.Logger, server RPC) {
    rpc.Serve(r, w, mtu, l, func(in interface{}) (res binary.Object) {
      l := l.Fork().Enter(fmt.Sprintf("%v", in))
      defer func() {
        if err := recover(); err == nil {
          if config.DebugRPCCalls {
            log.Infof(l, "returned: %v", res)
          }
        } else {
          msg := fmt.Sprintf("Panic: %v\n%v", err, string(debug.Stack()))
          log.Errorf(l, msg)
          res = rpc.NewError(msg)
        }
      }()

      switch call := in.(type) {
        {{range $i, $c := $.Functions}}
          case *{{Macro "CallName" $c}}:
            {{if not (IsVoid $c.Return.Type)}}
              if res, err := server.{{$c.Name}}({{range $p := $c.CallParameters}}call.{{$p.Name}}, {{end}}l); err == nil {
                return &{{Macro "ResultName" $c}}{ value:res }
              } else {
                return rpc.NewError(err.Error())
              }
            {{else}}
              if err := server.{{$c.Name}}({{range $p := $c.CallParameters}}call.{{$p.Name}}, {{end}}l); err == nil {
                return &{{Macro "ResultName" $c}}{}
              } else {
                return rpc.NewError(err.Error())
              }
            {{end}}
        {{end}}
          default:
            return rpc.NewError("Unexpected RPC function: %T", call)
      }
    })
  }

  type Resolver struct {
    Database database.Database
  }

  {{range $_, $c := $.Functions}}
    {{if not (IsVoid $c.Return.Type)}}
      {{$type  := SNode "Type" $c.Return}}
      {{$refty := Macro "Reference" $c.Return}}
      {{if eq $c.Name (print "Resolve" $type)}}
        {{$handle := SNode "Type" (index $c.CallParameters 0)}}

        // Store{{$type}} stores v into the database d, returning the {{$handle}}.
        func Store{{$type}}(v {{$refty}}, d database.Database, l log.Logger) ({{$handle}}, error) {
          id, err := database.Store(v, d, l)
          return {{$handle}}{ID: id}, err
        }

        // Resolve{{$type}} loads and returns the {{$type}} stored in the database d, using id.
        func Resolve{{$type}}(id {{$handle}}, d database.Database, l log.Logger) (res {{$type}}, err error) {
          if out, err := d.Resolve(id.ID, l); err == nil {
            {{if eq $type $refty}}
              res = (out.({{$refty}}))
            {{else}}
              res = *(out.({{$refty}}))
            {{end}}
          }
          return res, err
        }

        // Resolve{{$type}} loads and returns the {{$type}} stored in the resolver's database, using id.
        func (r Resolver) Resolve{{$type}}(id {{$handle}}, l log.Logger) ({{$type}}, error) {
          return Resolve{{$type}}(id, r.Database, l)
        }
      {{end}}
    {{end}}
  {{end}}

{{end}}
