{{/*
 * Copyright (C) 2015 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */}}


{{/*
-------------------------------------------------------------------------------
  Verifies that the field is not a direct reference to an interface type.
-------------------------------------------------------------------------------
*/}}
{{define "VerifyInterfaceFieldIsRef"}}
  {{AssertType $.Field "Field"}}
  {{AssertType $.Class "Class"}}

  {{$c := TypeOf $.Field}}
  {{if IsClass $c}}
    {{if (GetAnnotation $c "Interface")}}
      {{Error $.Name "." $.Field.Name " is a non-reference to interface type " $c.Name ". This must be stored as ref<" $c.Name ">."}}
    {{end}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Verifies that the parameter is not a direct reference to an interface type.
-------------------------------------------------------------------------------
*/}}
{{define "VerifyInterfaceParameterIsRef"}}
  {{AssertType $.Parameter "Parameter"}}
  {{AssertType $.Command   "Function"}}

  {{$c := TypeOf $.Parameter}}
  {{if IsClass $c}}
    {{if (GetAnnotation $c "Interface")}}
      {{Error $.Command.Name " parameter " $.Parameter.Name " is a non-reference to interface type " $c.Name ". This must be passed as ref<" $c.Name ">."}}
    {{end}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Verifies that the return type of a command is not a direct reference to an
  interface type.
-------------------------------------------------------------------------------
*/}}
{{define "VerifyInterfaceReturnTypeIsRef"}}
  {{AssertType $ "Function"}}

  {{if IsClass $.Return.Type}}
    {{if (GetAnnotation $.Return.Type "Interface")}}
      {{Error $.Name " return value is a non-reference to interface type " $.Return.Type.Name ". This must be passed as ref<" $.Return.Type.Name ">."}}
    {{end}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the go type for the provided AST type.
-------------------------------------------------------------------------------
*/}}
{{define "Type#any"      }}interface{}{{end}}
{{define "Type#bool"     }}bool{{end}}
{{define "Type#s8"       }}int8{{end}}
{{define "Type#u8"       }}uint8{{end}}
{{define "Type#s16"      }}int16{{end}}
{{define "Type#u16"      }}uint16{{end}}
{{define "Type#s32"      }}int32{{end}}
{{define "Type#u32"      }}uint32{{end}}
{{define "Type#f32"      }}float32{{end}}
{{define "Type#s64"      }}int64{{end}}
{{define "Type#u64"      }}uint64{{end}}
{{define "Type#f64"      }}float64{{end}}
{{define "Type#string"   }}string{{end}}
{{define "Type.Slice"    }}[]{{Node "Type" .Type.To}}{{end}}
{{define "Type.Class"    }}{{if $p := PackageOf .Type}}{{$p}}.{{end}}{{.Type.Name}}{{end}}
{{define "Type.Pseudonym"}}{{if $p := PackageOf .Type}}{{$p}}.{{end}}{{.Type.Name}}{{end}}
{{define "Type.Enum"     }}{{if $p := PackageOf .Type}}{{$p}}.{{end}}{{.Type.Name}}{{end}}
{{define "Type.Pointer"  }}{{if not (GetAnnotation $.Type.To "Interface")}}*{{end}}{{Node "Type" .Type.To}}{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the reference type for the provided AST type.
-------------------------------------------------------------------------------
*/}}
{{define "Reference"}}
  {{if not (IsType $)}}{{Macro "Reference" (TypeOf $)}}
  {{else             }}{{if not (Underlying $ | IsAny)}}*{{end}}{{Node "Type" $}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a comment stating that the file is automatically generated, and the
  main package an imports declaration.
-------------------------------------------------------------------------------
*/}}
{{define "GeneratedHeader"}}{{Copyright "generated_by" "rpcapi"}}¶

package {{Global "OutputDir"}};

import (
  "fmt"
  "io"
  "runtime/debug"

  "android.googlesource.com/platform/tools/gpu/atom"
  "android.googlesource.com/platform/tools/gpu/binary"
  "android.googlesource.com/platform/tools/gpu/binary/registry"
  "android.googlesource.com/platform/tools/gpu/binary/schema"
  "android.googlesource.com/platform/tools/gpu/config"
  "android.googlesource.com/platform/tools/gpu/log"
  "android.googlesource.com/platform/tools/gpu/memory"
  "android.googlesource.com/platform/tools/gpu/multiplexer"
  "android.googlesource.com/platform/tools/gpu/rpc"
)
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a comment block containing the specified text.
-------------------------------------------------------------------------------
*/}}
{{define "CommentHeader"}}
  ////////////////////////////////////////////////////////////////////////////////
  // {{.}}
  ////////////////////////////////////////////////////////////////////////////////
{{end}}
