{{/*
Copyright (C) 2015 The Android Open Source Project
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
     http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/}}
{{Global "module" ""}}
{{Include "go_common.tmpl"}}
{{$ | Macro "api.go" | GoFmt | Write "api.go"}}

{{define "api.go"}}
  {{template "Go.GeneratedHeader" (Global "OutputDir")}}

  import (
    "fmt"
    "gaze/gfxapi"
    "strings"

    "android.googlesource.com/platform/tools/gpu/atom"
    "android.googlesource.com/platform/tools/gpu/binary"
    "android.googlesource.com/platform/tools/gpu/memory"
    "android.googlesource.com/platform/tools/gpu/replay/builder"
  )

  {{range $_, $p := $.Pseudonyms}}
    {{template "Pseudonym" $p}}
  {{end}}

  {{range $_, $a := $.Arrays}}
    {{template "Array" $a}}
  {{end}}

  {{range $_, $m := $.Maps}}
    {{template "Map" $m}}
  {{end}}

  {{range $i, $c := $.Functions}}
    {{Macro "CommandEntry" "Command" $c "Index" $i}}
  {{end}}

  {{range $_, $c := $.Classes}}
    {{template "Class" $c}}
  {{end}}

  {{range $_, $e := $.Enums}}
    {{template "Enum" $e}}
  {{end}}

  {{template "Globals" $}}

  {{template "NewAtoms" $}}

  {{template "API" $}}

  func init() {
    gfxapi.Register(API())
    {{range $i, $c := $.Functions}}
      atom.Register(atom.TypeInfo{
        Name: "{{$c.Name}}",
        Docs: "{{$c.Docs}}",
        Id: {{$i}},
        New: func() atom.Atom { return &{{Macro "Go.Public" $c.Name}}{} },
      })
    {{end}}
  }
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a type declaration for the specified pseudonym.
-------------------------------------------------------------------------------
*/}}
{{define "Pseudonym"}}
  {{AssertType $ "Pseudonym"}}

  type {{$.Name}} {{Macro "Go.Type" $.To}}

  func (c *{{$.Name}}) Encode(e *binary.Encoder) error {
    x := {{Macro "Go.Type" $.To}}(*c)
    {{Macro "Go.Encode" "Type" $.To "Name" "x"}}
    return nil
  }

  func (c *{{$.Name}}) Decode(d *binary.Decoder) error {
    var x {{Macro "Go.Type" $.To}}
    {{Macro "Go.Decode" "Type" $.To "Name" "x"}}
    *c = {{$.Name}}(x)
    return nil
  }

  {{$lhs := print (Macro "Go.Type" $.To) "(*c)"}}
  {{$rhs := print (Macro "Go.Type" $.To) "(rhs)"}}
  func (c *{{$.Name}}) Less(rhs {{$.Name}})  bool { return {{Macro "Less"  "Type" $.To "LHS" $lhs "RHS" $rhs}} }
  func (c *{{$.Name}}) Equal(rhs {{$.Name}}) bool { return {{Macro "Equal" "Type" $.To "LHS" $lhs "RHS" $rhs}} }
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a type declaration for the specified array.
-------------------------------------------------------------------------------
*/}}
{{define "Array"}}
  {{AssertType $ "Array"}}
  {{$type := $.ValueType}}
  {{Macro "ArrayImpl" "Name" $.Name "Type" (Macro "Go.Type" $type)}}
  {{if not (IsAny $type)}}
    {{Macro "ArrayEncodeDecode" "Name" $.Name "Type" $type}}
  {{end}}
  {{if or (IsEnum $type)}}
    func (s {{$.Name}}) Less(i, j int) bool { return {{Macro "Less" "Type" $type "LHS" "s[i]" "RHS" "s[j]"}} }
  {{end}}
{{end}}


{{define "ClassInterface"}}
  {{AssertType $ "Class"}}
  {{range $_, $v := $.Fields}}
    {{$type := TypeOf $v}}
    {{if IsMemory $type}}
      Get{{Title $v.Name}}() *{{Macro "Go.Type" $type}}
    {{else}}
      Get{{Title $v.Name}}() {{Macro "Go.Type" $type}}
      Set{{Title $v.Name}}({{Macro "Go.Type" $type}})
    {{end}}
  {{end}}
  {{range $i,$c := $.Extends}}
    {{Macro "ClassInterface" $c}}
  {{end}}
{{end}}

{{define "ClassFields"}}
  {{AssertType $ "Class"}}
  {{range $_, $v := $.Fields}}
    {{Title $v.Name}} {{Macro "Go.Type" $v}}
  {{end}}
  {{range $i,$c := $.Extends}}
    // {{$c.Name}}
    {{Macro "ClassFields" $c}}
  {{end}}
{{end}}

{{define "FieldInit"}}
  {{AssertType $.Field "Field"  "Global"}}
  {{AssertType $.Name "string"}}
  {{$type := TypeOf $.Field}}
  {{$FType := Macro "Go.Type" $type}}
  {{     if IsMap    $type}} {{$.Name}}.Init()
  {{else if IsClass  $type}} {{$.Name}}.Init()
  {{else if IsVoid (TypeOf $.Field.Default)}} // {{$.Name}} of type {{$FType}}
  {{else}}{{$.Name}} = {{Macro "Default" $.Field.Default}}
  {{end}}
{{end}}

{{define "FieldsInit"}}
  {{AssertType $.Type "Class"  "API"}}
  {{AssertType $.Name "string"}}
  {{range $_, $v := $.Type.Fields}}
    {{Macro "FieldInit" "Field" $v "Name" (print $.Name "." $v.Name)}}
  {{end}}
  {{range $i,$c := $.Extends}}
    // {{$c.Name}}
    {{Macro "FieldsInit" "Type" $c "Name" $.Name}}
  {{end}}
{{end}}

{{define "Default"}}
  {{     if IsBoolValue $}}{{$}}
  {{else if IsNumericValue $}}{{$}}
  {{else if IsStringValue $}}{{$}}
  {{else if IsEnumEntry $}}{{$.Enum.Name}}_{{$.Name}}
  {{else if IsCast $}}{{Macro "Default" $.Object}}
  {{else}}{{Error "macro Default called with unsupported type: %T" $}}
  {{end}}
{{end}}

{{define "ClassImpl"}}
  {{AssertType $.Class "Class"}}
  {{AssertType $.Impl "string"}}
  {{range $_, $v := $.Class.Fields}}
    {{$type := TypeOf $v}}
    {{$FType := Macro "Go.Type" $type}}
    {{if IsMemory $type}}
      func (i *{{$.Impl}}) Get{{$v.Name}}() *{{$FType}} { return &i.{{$v.Name}} }
    {{else}}
      func (i *{{$.Impl}}) Get{{$v.Name}}() {{$FType}} { return i.{{$v.Name}} }
      func (i *{{$.Impl}}) Set{{$v.Name}}(v {{$FType}}) { i.{{$v.Name}} = v }
    {{end}}
  {{end}}
  {{range $i,$c := $.Class.Extends}}
    {{Macro "ClassImpl" "Class" $c "Impl" $.Impl}}
  {{end}}
{{end}}

{{define "Class"}}
  {{AssertType $ "Class"}}
  {{template "Go.CommentHeader" print "class " $.Name }}
  {{if GetAnnotation $ "Interface"}}
    type {{$.Name}} interface {
      {{Macro "ClassInterface" $}}
    }
  {{else}}

    type {{$.Name}} struct {
      CreatedAt atom.Id
      {{Macro "ClassFields" $}}
    }

    func (c *{{$.Name}}) Init() {
      {{Macro "FieldsInit" "Type" $ "Name" "c"}}
    }

    func (c *{{$.Name}}) Encode(e *binary.Encoder) error {
      {{range $_, $f := $.Fields}}
        {{$name := print "c." (Title $f.Name)}}
        {{Macro "Go.Encode" "Type" (TypeOf $f) "Name" $name}}
      {{end}}
      return nil
    }

    func (c *{{$.Name}}) Decode(d *binary.Decoder) error {
      {{range $_, $f := $.Fields}}
        {{$name := print "c." (Title $f.Name)}}
        {{Macro "Go.Decode" "Type" (TypeOf $f) "Name" $name}}
      {{end}}
      return nil
    }

    func (c *{{$.Name}}) GetCreatedAt() atom.Id {return c.CreatedAt}
    {{range $i,$c := $.Extends}}
      {{Macro "ClassImpl" "Class" $c "Impl" $.Name}}
    {{end}}
  {{end}}
{{end}}

{{define "ClassIdInterface"}}
  {{AssertType $ "Class"}}
  {{$.Name}}()
  {{range $i,$c := $.Extends}}
    {{Macro "ClassIdInterface" $c}}
  {{end}}
{{end}}

{{define "ClassIdImpl"}}
  {{AssertType $.Class "Class"}}
  {{AssertType $.Impl "Class"}}
  func (id {{$.Impl}}) {{$.Class.Name}}() {}
  {{range $i, $c := $.Class.Extends}}
    {{Macro "ClassIdImpl" "Class" $c "Impl" $.Impl}}
  {{end}}
{{end}}

{{define "ClassId"}}
  {{AssertType $ "Class"}}
  {{$IdImplType := print "i" $.Type.Name}}
  type {{$.Type.Name}} interface {
    String() string
    Id() int32
    {{Macro "ClassIdInterface" $.To.Detail}}
  }

  type {{$IdImplType}} int32

  func As{{$.Type.Name}}(id int32) {{$IdImplType}} { return {{$IdImplType}}(id) }

  func (id {{$IdImplType}}) String() string {
    return fmt.Sprintf("{{$.Type.Name}}<%d>", int32(id))
  }

  func (id {{$IdImplType}}) Id() int32 {
    return int32(id)
  }

  {{Macro "ClassIdImpl" "Class" $.To.Detail "Impl" $IdImplType}}

{{end}}

{{define "Enum"}}
  {{AssertType $ "Enum"}}
  {{template "Go.CommentHeader" print "enum " $.Name }}
  type {{$.Name}} uint32

  {{Macro "EnumConstants" "Enum" $ "Name" $.Name}}

  func (v {{$.Name}}) String() string {
    switch v {
    {{Macro "EnumNameEntries" "Enum" $ "Name" $.Name}}
    default: return fmt.Sprintf("{{$.Name}}<0x%.4x>", uint32(v))
    }
  }
{{end}}


{{define "CommandEntry"}}
  {{AssertType $.Command "Function"}}
  {{template "Go.CommentHeader" $.Command.Name}}
  {{$name := Macro "Go.Public" $.Command.Name}}

  type {{Macro "Go.CmdInsName" $.Command}} struct {
    {{range $_, $p := $.Command.FullParameters}}
      {{if not $p.Output}}
        {{Macro "Go.Public" $p.Name}} {{Macro "Go.Type" $p}}
      {{end}}
    {{end}}
  }

  type {{Macro "Go.CmdOutsName" $.Command}} struct {
    {{range $_, $p := $.Command.FullParameters}}
      {{if $p.Output}}
        {{Macro "Go.Public" $p.Name}} {{Macro "Go.Type" $p}}
      {{end}}
    {{end}}
  }

  type {{$name}} struct {
    Context atom.ContextId
    In  {{Macro "Go.CmdInsName" $.Command}}
    Out {{Macro "Go.CmdOutsName" $.Command}}
  }

  func (c *{{$name}}) String() string {
    parts := make([]string, 0, 32)
    parts = append(parts, "{{$.Command.Name}}(",
    {{range $i, $p := $.Command.CallParameters}}
      {{$type := TypeOf $p}}
      {{$field := Macro "Go.Parameter" $p}}
      {{if $i}}", ",{{end}}
      {{if      IsArray       $type}}fmt.Sprintf("%v", c.{{$field}}),
      {{else if IsPointerType $type}}fmt.Sprintf("0x%x", c.{{$field}}),
      {{else if IsEnum        $type}}c.{{$field}}.String(),
      {{else                       }}fmt.Sprintf("{{$p.Name}}:%v", c.{{$field}}),
      {{end}}
    {{end}}
    )
    parts = append(parts, ")")
    {{if not (IsVoid $.Command.Return.Type)}}
      parts = append(parts, fmt.Sprintf(" → %v", c.Out.Result))
    {{end}}
    return strings.Join(parts, "")
  }

  func (c *{{$name}}) ContextId() atom.ContextId {
    return c.Context
  }

  func (c *{{$name}}) TypeId() atom.TypeId {
    return {{$.Index}}
  }

  func (c *{{$name}}) Flags() atom.Flags {
    return 0
      {{if GetAnnotation $.Command "DrawCall"}}§| atom.DrawCall{{end}}
      {{if GetAnnotation $.Command "EndOfFrame"}}§| atom.EndOfFrame{{end}}
  }

  func (c *{{$name}}) Encode(e *binary.Encoder) error {
    if err := c.Context.Encode(e); err != nil {
      return err
    }
    {{range $_, $p := $.Command.FullParameters}}
      {{$name := print "c." (Macro "Go.Parameter" $p)}}
      {{Macro "Go.Encode" "Type" (TypeOf $p) "Name" $name}}
    {{end}}
    return nil
  }

  func (c *{{$name}}) Decode(d *binary.Decoder) error {
    if err := c.Context.Decode(d); err != nil {
      return err
    }
    {{range $_, $p := $.Command.FullParameters}}
      {{$name := print "c." (Macro "Go.Parameter" $p)}}
      {{Macro "Go.Decode" "Type" (TypeOf $p) "Name" $name}}
    {{end}}
    return nil
  }
{{end}}

{{define "Globals"}}
  {{template "Go.CommentHeader" "Globals"}}
  type Globals struct {
    {{range $_, $f := $.Globals}}
      {{Title $f.Name}} {{Macro "Go.Type" $f}}
    {{end}}
  }

  func (g *Globals) Init() {
    {{range $_, $g := $.Globals}}
      {{Macro "FieldInit" "Field" $g "Name" (print "g." $g.Name)}}
    {{end}}
  }

  func (g *Globals) Encode(e *binary.Encoder) error {
    {{range $_, $g := $.Globals}}
      {{$name := print "g." (Title $g.Name)}}
      {{Macro "Go.Encode" "Type" (TypeOf $g) "Name" $name}}
    {{end}}
    return nil
  }

  func (g *Globals) Decode(d *binary.Decoder) error {
    {{range $_, $g := $.Globals}}
      {{$name := print "g." (Title $g.Name)}}
      {{Macro "Go.Decode" "Type" (TypeOf $g) "Name" $name}}
    {{end}}
    return nil
  }
{{end}}

{{define "API"}}

  {{template "Go.CommentHeader" "API"}}
  type api struct {}

  func (a api) Name() string {
    return "{{Global "API"}}"
  }

  func (a api) InitialState() gfxapi.State {
    return initialState()
  }

  func (a api) StateMutator(s gfxapi.State) atom.Writer {
    return &StateMutator{State: s.(*state)}
  }

  func API() gfxapi.API {
    return api{}
  }
{{end}}

{{define "EnumConstants"}}
  {{AssertType $.Enum "Enum"}}
  {{AssertType $.Name "string"}}
   const (
     {{range $i,$e := $.Enum.Entries}}
        {{$.Name}}_{{$e.Name}} = {{$.Name}}({{$e.Value}})
     {{end}}
   )
   {{range $i,$e := $.Enum.Extends}}
     // {{$e.Name}}
     {{Macro "EnumConstants" "Enum" $e "Name" $.Name}}
   {{end}}
{{end}}

{{define "EnumNameEntries"}}
  {{AssertType $.Enum "Enum"}}
  {{AssertType $.Name "string"}}
   {{range $i,$e := $.Enum.Entries}}
      case {{$e.Value}}: return "{{$e.Name}}"
   {{end}}
   {{range $i,$e := $.Enum.Extends}}
     // {{$e.Name}}
     {{Macro "EnumNameEntries" "Enum" $e "Name" $.Name}}
   {{end}}
{{end}}

{{define "EnumValueEntries"}}
  {{AssertType $.Enum "Enum"}}
  {{AssertType $.Name "string"}}
   {{range $i,$e := $.Enum.Entries}}
      {{$.Name}}_{{$e.Name}},
   {{end}}
   {{range $i,$e := $.Enum.Extends}}
     // {{$e.Name}}
     {{Macro "EnumValueEntries" "Enum" $e "Name" $.Name}}
   {{end}}
{{end}}

{{define "Value"}}
  {{$type := TypeOf $}}
  {{$name := $type.Name}}§
  {{     if IsArray    $type}} c.Get{{$.Name}}()
  {{else if IsMap      $type}} c.Get{{$.Name}}()
  {{else if IsEnum     $type}} c.Get{{$.Name}}()
  {{else                    }} c.Get{{$.Name}}()
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the boolean expression testing for equality between LHS and RHS.
-------------------------------------------------------------------------------
*/}}
{{define "Equal"}}
  {{AssertType $.Type "Type"}}

  {{Macro "BinaryOp" "Type" $.Type "LHS" $.LHS "RHS" $.RHS "Operator" "==" "Name" "Equal"}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the boolean expression that is true if LHS < RHS, otherwise false.
-------------------------------------------------------------------------------
*/}}
{{define "Less"}}
  {{AssertType $.Type "Type"}}

  {{if IsBool $.Type}}false
  {{else            }}{{Macro "BinaryOp" "Type" $.Type "LHS" $.LHS "RHS" $.RHS "Operator" "<" "Name" "Less"}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the binary expression for the given LHS and RHS types
-------------------------------------------------------------------------------
*/}}
{{define "BinaryOp"}}
  {{AssertType $.Name     "string"}}
  {{AssertType $.Operator "string"}}
  {{AssertType $.Type     "Type"}}

  {{     if IsS8       $.Type}}{{$.LHS}} {{$.Operator}} {{$.RHS}}
  {{else if IsU8       $.Type}}{{$.LHS}} {{$.Operator}} {{$.RHS}}
  {{else if IsU16      $.Type}}{{$.LHS}} {{$.Operator}} {{$.RHS}}
  {{else if IsS16      $.Type}}{{$.LHS}} {{$.Operator}} {{$.RHS}}
  {{else if IsF32      $.Type}}{{$.LHS}} {{$.Operator}} {{$.RHS}}
  {{else if IsU32      $.Type}}{{$.LHS}} {{$.Operator}} {{$.RHS}}
  {{else if IsS32      $.Type}}{{$.LHS}} {{$.Operator}} {{$.RHS}}
  {{else if IsF64      $.Type}}{{$.LHS}} {{$.Operator}} {{$.RHS}}
  {{else if IsU64      $.Type}}{{$.LHS}} {{$.Operator}} {{$.RHS}}
  {{else if IsS64      $.Type}}{{$.LHS}} {{$.Operator}} {{$.RHS}}
  {{else if IsString   $.Type}}{{$.LHS}} {{$.Operator}} {{$.RHS}}
  {{else if IsEnum     $.Type}}{{$.LHS}} {{$.Operator}} {{$.RHS}}
  {{else if IsPointerType  $.Type}}{{$.LHS}} {{$.Operator}} {{$.RHS}}
  {{else                     }}{{$.LHS}}.{{$.Name}}({{$.RHS}})
  {{end}}
{{end}}

{{define "ArrayImpl"}}
  {{$name := $.Name}}
  {{$type := $.Type}}
  type {{$name}} []{{$type}}
  func (s {{$name}}) Len() int                      { return len(s) }
  func (s {{$name}}) Range() []{{$type}}            { return s}
  func (s {{$name}}) Swap(i, j int)                 { s[i], s[j] = s[j], s[i] }
  func (s {{$name}}) ValueCount() int               { return len(s) }
  func (s {{$name}}) ValueAt(index int) interface{} { return s[index] }
{{end}}

{{define "ArrayEncodeDecode"}}
  func (s {{$.Name}}) Encode(e *binary.Encoder) error {
    e.Uint32(uint32(len(s)))
    for _, v := range s {
      {{Macro "Go.Encode" "Type" $.Type "Name" "v"}}
    }
    return nil
  }

  func (s *{{$.Name}}) Decode(d *binary.Decoder) error {
    c, err := d.Uint32()
    if err != nil { return err }
    *s = make({{$.Name}}, c)
    for i := range *s {
      {{Macro "Go.Decode" "Type" $.Type "Name" "(*s)[i]"}}
    }
    return nil
  }
{{end}}

{{define "MapValueType"}}
  {{if IsPointer $}}*{{Macro "Go.Type" $.To}}
  {{else}}{{Macro "Go.Type" $}}
  {{end}}
{{end}}

{{define "Map"}}
  {{$name  := $.Name}}
  {{$type  := Macro "MapValueType" $.ValueType}}
  {{$key   := Macro "Go.Type" $.KeyType}}

  type {{$name}} struct {
    Items map[{{$key}}]{{$type}}
  }

  func (m *{{$name}}) Init() {
    m.Items = make(map[{{$key}}]{{$type}})
  }

  func (m {{$name}}) Count() int32 {
    return int32(len(m.Items))
  }

  func (m {{$name}}) Contains(key {{$key}}) bool {
    _, ok := m.Items[key]
    return ok
  }

  func (m {{$name}}) Get(key {{$key}}, def {{$type}}) {{$type}} {
    if value, ok := m.Items[key]; ok {
      return value
    }
    return def
  }

  func (m {{$name}}) GetOrError(key {{$key}}) {{$type}} {
    if value, ok := m.Items[key]; ok {
      return value
    }
    // TODO: Non-explosive error handling
    panic(fmt.Errorf("Key %v not found in {{$name}} map", key))
  }

  func (m {{$name}}) Set(key {{$key}}, value {{$type}}) {
    m.Items[key] = value
  }

  func (m {{$name}}) Delete(key {{$key}}) {
    delete(m.Items, key)
  }

  func (m {{$name}}) Range() []{{$type}} {
    values := make([]{{$type}}, 0, len(m.Items))
    for _, value := range m.Items {
      values = append(values, value)
    }
    return values
  }

  func (m {{$name}}) Encode(e *binary.Encoder) error {
    e.Uint32(uint32(len(m.Items)))
    for key, value := range m.Items {
      {{Macro "Go.Encode" "Type" $.KeyType "Name" "key"}}
      {{Macro "Go.Encode" "Type" $.ValueType "Name" "value"}}
    }
    return nil
  }

  func (m *{{$name}}) Decode(d *binary.Decoder) error {
    m.Init()
    c, err := d.Uint32()
    if err != nil { return err }
    for i := uint32(0); i < c; i++ {
      var key {{$key}}
      var value {{$type}}
      {{Macro "Go.Decode" "Type" $.KeyType "Name" "key"}}
      {{Macro "Go.Decode" "Type" $.ValueType "Name" "value"}}
      m.Items[key] = value
    }
    return nil
  }
{{end}}


{{/*
-------------------------------------------------------------------------------
  NewAtoms

  Emits a atom constructor for each command
-------------------------------------------------------------------------------
*/}}
{{define "NewAtoms"}}
  {{AssertType $ "API"}}

  {{range $c := $.Functions}}
    {{$name       := Macro "Go.Public" $c.Name}}
    func New{{$name}}(
        {{range $p := $c.FullParameters}}
          p{{Macro "Go.Public" $p.Name}} {{Macro "Go.Type" $p}},
        {{end}}
      ) *{{$name}} {
      return &{{$name}} {
        In: {{Macro "Go.CmdInsName" $c}}{§
          {{range $p := $c.FullParameters}}
            {{if not $p.Output}}
              p{{Macro "Go.Public" $p.Name}},§
            {{end}}
          {{end}}
        },
        Out: {{Macro "Go.CmdOutsName" $c}}{§
          {{range $p := $c.FullParameters}}
            {{if $p.Output}}
              p{{Macro "Go.Public" $p.Name}},§
            {{end}}
          {{end}}
        },
      }
    }
  {{end}}
{{end}}
