{{/*
Copyright (C) 2015 The Android Open Source Project
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
     http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/}}

{{/* ---- Includes ---- */}}
{{Include "api_classnames.tmpl"}}
{{Include "cpp_common.tmpl"    }}

{{/* ---- Overrides ---- */}}
{{Global "C++.EnumTypeOverride" "uint32_t"}}
{{Global "C++.ExternPrefix"     "mState." }}

{{$filename := print (Global "API") "_spy.h" }}
{{Global "SpyName" (print (Title (Global "API")) "Spy")}}
{{$ | Macro "Spy" | Format (Global "clang-format") | Write $filename}}

{{define "Spy"}}
  {{AssertType $ "API"}}
  {{Macro "C++.AOSP.Copyright"}}
  {{$spyname := Global "SpyName"}}
  {{$guard := print "GAPII_" (Upper (Global "API")) "_SPY_H"}}
¶
  #ifndef {{$guard}}
  #define {{$guard}}
¶
  #include "{{Global "API"}}_imports.h"
  #include "{{Global "API"}}_state.h"
  #include "{{Global "API"}}_types.h"
¶
  #include <gapic/encoder.h>
  #include <gapic/log.h>
¶
  #include <stdint.h>
  #include <unordered_set>
¶
  namespace gapii {«
¶
  class {{$spyname}} {
  «public:»
    inline void init(std::shared_ptr<gapic::Encoder> encoder);
¶
    {{range $f := AllCommands $}}
      {{if not (GetAnnotation $f "synthetic")}}
        {{Macro "MethodDefinitions" $f}}
      {{end}}
    {{end}}
¶
  «protected:»
    {{Macro "ApiClassnames.Imports"}} mImports;
    {{Macro "ApiClassnames.State"  }} mState;
¶
  «private:»
    static const gapic::Id RESOURCE_ID;
    static const gapic::Id OBSERVATION_ID;
    {{range $f := AllCommands $}}
      {{if not (GetAnnotation $f "synthetic")}}
        static const gapic::Id {{Macro "ID" $f}};
      {{end}}
    {{end}}
¶
    enum order {
      PRE_OBSERVE,
      POST_OBSERVE,
    };
¶
    inline void observe(const void* base, uint64_t offset, uint64_t size);
¶
    std::unordered_set<gapic::Id> mObserved;
    std::shared_ptr<gapic::Encoder> mEncoder;
  };
¶
  // Inline methods
  inline void {{$spyname}}::init(std::shared_ptr<gapic::Encoder> encoder) {
    mEncoder = encoder;
    mState.read = std::bind(&{{$spyname}}::observe, this, std::placeholders::_1, std::placeholders::_2, std::placeholders::_3);
    mState.write = std::bind(&{{$spyname}}::observe, this, std::placeholders::_1, std::placeholders::_2, std::placeholders::_3);
    mImports.Resolve();
  }
¶
  inline void {{$spyname}}::observe(const void* base, uint64_t offset, uint64_t size) {
    const void* ptr = reinterpret_cast<const uint8_t*>(base) + offset;
    gapic::Id id(ptr, size);
    if (mObserved.count(id) == 0) {
        mEncoder->U16(0xfffd); // Type ID -- TODO: mEncoder->Id(RESOURCE_ID);
        mEncoder->Id(id);
        mEncoder->Data(ptr, static_cast<int32_t>(size));
        mObserved.emplace(id);
    }
    mEncoder->U16(0xfffe); // Type ID -- TODO: mEncoder->Id(OBSERVATION_ID);
    mEncoder->U32(0); // TODO: ContextID
    mEncoder->U64(reinterpret_cast<uint64_t>(ptr));
    mEncoder->U64(size);
    mEncoder->Id(id);
  }
¶
  {{range $i, $f := AllCommands $}}
    {{if not (GetAnnotation $f "synthetic")}}
      {{Global "HACK_FUNCTION_INDEX_HACK" $i}}
      {{Macro "MethodImplementation" $f}}¶
    {{end}}
  {{end}}
¶
  »} // namespace gapii
¶
  #endif // {{$guard}}
¶
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the static variable name holding the ID of the given function.
-------------------------------------------------------------------------------
*/}}
{{define "ID"}}
  {{AssertType $ "Function"}}

  {{Macro "C++.MethodName" $ | SplitPascalCase | Upper | JoinWith "_"}}_ID
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a single C++ method definition for the given atom.
-------------------------------------------------------------------------------
*/}}
{{define "MethodDefinitions"}}
  {{AssertType $ "Function"}}

  inline {{Macro "C++.ReturnType" $}} {{Macro "C++.MethodName" $}}({{Macro "C++.CallParameters" $}});
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the inline method body for the given atom.
-------------------------------------------------------------------------------
*/}}
{{define "MethodImplementation"}}
  {{AssertType $ "Function"}}

  {{$name := Macro "C++.MethodName" $}}
  {{$ret := not (IsVoid $.Return.Type)}}
  {{$spyname := Global "SpyName"}}

  inline {{Macro "C++.ReturnType" $}} {{$spyname}}::{{$name}}({{Macro "C++.CallParameters" $}}) {
    GAPID_INFO("{{$name}}");
    {{$args := Macro "C++.CallArguments" $}}
    {{if $ret}}
      {{Macro "C++.ReturnType" $}} result = mImports.{{$name}}({{Macro "C++.CallArguments" $}});
      mState.{{$name}}({{if $args}}{{$args}}, {{end}}result);
    {{else}}
      mImports.{{$name}}({{$args}});
      mState.{{$name}}({{$args}});
    {{end}}
¶
    mEncoder->U16({{Global "HACK_FUNCTION_INDEX_HACK"}}); // Type ID -- TODO: mEncoder->Id({{Macro "ID" $}});
    mEncoder->U32(0); // TODO: ContextID

    {{range $p := $.FullParameters}}
      {{if not $p.Output}}
        {{$pname := Macro "C++.ReadParameter" $p}}
        {{Macro "Encode" "Parameter" $p "Type" (TypeOf $p) "Name" $pname}}
      {{end}}
    {{end}}

    {{range $p := $.FullParameters}}
      {{if $p.Output}}
        {{$pname := Macro "C++.ReadParameter" $p}}
        {{Macro "Encode" "Parameter" $p "Type" (TypeOf $p) "Name" $pname}}
      {{end}}
    {{end}}

    {{if $ret}}¶
      return result;
    {{end}}
  }
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ expression for the number of elements in the provided array
  parameter.
-------------------------------------------------------------------------------
*/}}
{{define "ArrayParamCount"}}
  {{AssertType $ "Parameter"}}

  {{if eq $.Function.Return.Name $.Name}}
    {{$cnt_expr := GetAnnotation $.Function "ReturnSize"}}
    {{if IsNil $cnt_expr}}{{Error "Unable to determine array parameter count for: %s.%s" $.Function.Name $.Name}}{{end}}
    {{Macro "C++.Read" (index $cnt_expr.Arguments 0)}}
  {{else}}
    {{$cnt_expr := GetArrayParamCount $}}
    {{if IsNil $cnt_expr}}{{Error "Unable to determine array parameter count for: %s.%s" $.Function.Name $.Name}}{{end}}
    {{Macro "C++.Read" $cnt_expr}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ encode logic for the specified parameter.
-------------------------------------------------------------------------------
*/}}
{{define "Encode"}}
  {{AssertType $.Type      "Type"}}
  {{AssertType $.Name      "string"}}
  {{AssertType $.Parameter "Parameter"}}

  {{     if IsPseudonym   $.Type}}{{Macro "Encode" "Type" $.Type.To "Name" $.Name "Parameter" $.Parameter}}
  {{else if IsBool        $.Type}}mEncoder->Bool({{$.Name}});
  {{else if IsU8          $.Type}}mEncoder->U8({{$.Name}});
  {{else if IsS8          $.Type}}mEncoder->S8({{$.Name}});
  {{else if IsU16         $.Type}}mEncoder->U16({{$.Name}});
  {{else if IsS16         $.Type}}mEncoder->S16({{$.Name}});
  {{else if IsF32         $.Type}}mEncoder->F32({{$.Name}});
  {{else if IsU32         $.Type}}mEncoder->U32({{$.Name}});
  {{else if IsS32         $.Type}}mEncoder->S32({{$.Name}});
  {{else if IsF64         $.Type}}mEncoder->F64({{$.Name}});
  {{else if IsU64         $.Type}}mEncoder->U64({{$.Name}});
  {{else if IsS64         $.Type}}mEncoder->S64({{$.Name}});
  {{else if IsInt         $.Type}}mEncoder->S64({{$.Name}});
  {{else if IsUint        $.Type}}mEncoder->U64({{$.Name}});
  {{else if IsPointer     $.Type}}mEncoder->U64(reinterpret_cast<uint64_t>({{$.Name}}));
  {{else if IsString      $.Type}}mEncoder->String({{$.Name}});
  {{else if IsEnum        $.Type}}mEncoder->U32(static_cast<uint32_t>({{$.Name}}));
  {{else if IsArray       $.Type}}
    if ({{$.Name}} != nullptr) { // TODO: This check should not be necessary!
      int32_t count_ = {{Macro "ArrayParamCount" $.Parameter}};
      mEncoder->U32(count_);
      for (int i = 0; i < count_; i++) {
        {{$el := print $.Name "[i]"}}
        {{Macro "Encode" "Type" $.Type.ValueType "Name" $el "Parameter" $.Parameter}}
      }
    } else {
      mEncoder->U32(0);
    }
  {{/* TODO: Store arrays as resources
  {{else if IsArray       $.Type}}mEncoder->U64(reinterpret_cast<uint64_t>({{$.Name}}))
  */}}
  {{else if and (IsClass $.Type) (GetAnnotation $.Type "union")}}/* TODO: mEncoder on union */
  {{else}}{{Error "Encode passed unsupported type: %s" $.Type.Name}}
  {{end}}
{{end}}

