{{/*
Copyright (C) 2015 The Android Open Source Project
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
     http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ type for the specified AST type.
-------------------------------------------------------------------------------
*/}}
{{define "C++.Type"}}
  {{if not (IsType $)}}{{Macro "C++.Type" (TypeOf $)}}
  {{else if IsPseudonym   $}}{{Global "prefix"}}{{$.Name}}
  {{else if IsVoid        $}}void
  {{else if IsBool        $}}bool
  {{else if IsInt         $}}int
  {{else if IsUint        $}}uint
  {{else if IsU8          $}}uint8_t
  {{else if IsS8          $}}int8_t
  {{else if IsU16         $}}uint16_t
  {{else if IsS16         $}}int16_t
  {{else if IsF32         $}}float
  {{else if IsU32         $}}uint32_t
  {{else if IsS32         $}}int32_t
  {{else if IsF64         $}}double
  {{else if IsU64         $}}uint64_t
  {{else if IsS64         $}}int64_t
  {{else if IsMap         $}}{{$.Name}}
  {{else if IsClass       $}}{{Global "prefix"}}{{$.Name}}
  {{else if IsPointer     $}}{{Macro "C++.Type" $.To}}*
  {{else if IsPointerType $}}void*
  {{else if IsString      $}}char*
  {{else if IsEnum        $}}{{Macro "C++.EnumType" $}}
  {{else if IsArray       $}}{{Macro "C++.Type" $.ValueType}}*
  {{else if IsStaticArray $}}{{Macro "C++.Type" $.ValueType}}
  {{else if IsMemory      $}}Memory
  {{else if IsAny         $}}auto
  {{else}}{{Error "C++.Type passed unsupported type (%T): %s" $ $.Name}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ default value for the provided AST type.
-------------------------------------------------------------------------------
*/}}
{{define "C++.Null"}}
  {{AssertType $ "Type"}}
  {{     if IsPointer       $}}nullptr
  {{else if IsArray         $}}nullptr
  {{else if IsBool          $}}false
  {{else if IsInt           $}}0
  {{else if IsUint          $}}0
  {{else if IsS8            $}}0
  {{else if IsU8            $}}0
  {{else if IsS16           $}}0
  {{else if IsU16           $}}0
  {{else if IsS32           $}}0
  {{else if IsU32           $}}0
  {{else if IsF32           $}}0
  {{else if IsS64           $}}0
  {{else if IsU64           $}}0
  {{else if IsF64           $}}0
  {{else if IsPointerType   $}}nullptr
  {{else if IsString        $}}""
  {{else}}{{Error "macro Type called with unsupported type: %s" $.Name}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ type for the specified Enum.
  By default this emits the enum name, but this behaviour can be overridden with
  the global "C++.EnumTypeOverride".
-------------------------------------------------------------------------------
*/}}
{{define "C++.EnumType"}}
  {{AssertType $ "Enum"}}

  {{if $override := Global "C++.EnumTypeOverride"}}{{$override}}
  {{else}}{{Macro "C++.EnumName" $}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ type for use in a state block or class for the specified AST
  type.
  For strings this emits a std::string type.
  For pointers this emits a std::shared_ptr type.
  For vectors this emits a std::vector type.
  For other types this is the same as "C++.Type"
-------------------------------------------------------------------------------
*/}}
{{define "C++.StateType"}}
  {{if not (IsType $)}}{{Macro "C++.StateType" (TypeOf $)}}
  {{else if IsString  $}}std::string
  {{else if IsPointer $}}std::shared_ptr<{{Macro "C++.StateType" $.To}}>
  {{else if IsArray   $}}std::vector<{{Macro "C++.StateType" $.ValueType}}>
  {{else               }}{{Macro "C++.Type" $}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the comma-separated list of type-name paired parameters for given
  function.
-------------------------------------------------------------------------------
*/}}
{{define "C++.CallParameters"}}
  {{AssertType $ "Function"}}

  {{range $i, $p := $.CallParameters}}
    {{if $i}}, {{end}}{{Macro "C++.ParameterType" $p}} {{$p.Name}}§
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the comma-separated list of function parameter types without the
  parameter names.
-------------------------------------------------------------------------------
*/}}
{{define "C++.CallParameterTypes"}}
  {{AssertType $ "Function"}}

  {{range $i, $p := $.CallParameters}}
    {{if $i}}, {{end}}{{Macro "C++.ParameterType" $p}}§
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the comma-separated list of argument names for the given function.
-------------------------------------------------------------------------------
*/}}
{{define "C++.CallArguments"}}
  {{AssertType $ "Function"}}

  {{range $i, $p := $.CallParameters}}
    {{if $i}}, {{end}}{{$p.Name}}§
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ type for the given parameter.
-------------------------------------------------------------------------------
*/}}
{{define "C++.ParameterType"}}
  {{AssertType $ "Parameter"}}

  {{$ty := TypeOf $}}
  {{if IsAny $ty}}
    {{Macro "C++.ParameterTypeAny" $}}
  {{else}}
    {{$isRef := or (IsArray $ty) (IsString $ty) (IsPointerType $ty)}}

    {{/* Prefix const for read-only reference parameters. */}}
    {{if and (not $.Output) $isRef}}const {{end}}§

    {{Macro "C++.Type" $ty}}§

    {{/* Postfix reference for non-reference output parameters. */}}
    {{if and $.Output (not $isRef)}}*{{end}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  If the specified parameter is of type 'any' then this macro emits the
  corresponding template parameter name. If the parameter is not of type 'any'
  then nothing is emitted.
-------------------------------------------------------------------------------
*/}}
{{define "C++.ParameterTypeAny"}}
  {{AssertType $ "Parameter"}}

  {{if IsAny (TypeOf $)}}
    {{$index := IndexOf $.Function.FullParameters $}}
    ARG{{$index}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ return type for the given command.
-------------------------------------------------------------------------------
*/}}
{{define "C++.ReturnType"}}
  {{AssertType $ "Function"}}

  {{$ty := TypeOf $.Return}}
  {{Macro "C++.Type" $ty}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ logic for all the statements in the given block.
-------------------------------------------------------------------------------
*/}}
{{define "C++.Block"}}
  {{range $s := $.Statements}}
    {{$v := Macro "C++.Statement" $s}}
    {{$v}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ logic to execute the given statement.
  If the global "C++.StatementTypeOverride" is specified then this the macro
  with the specified name is called, otherwise the macro delegates to
  "C++.StatementDefault".
-------------------------------------------------------------------------------
*/}}
{{define "C++.Statement"}}
  {{if $override := Global "C++.StatementTypeOverride"}}
    {{Macro $override $}}
  {{else}}
    {{Macro "C++.StatementDefault" $}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ logic to execute the given statement.
-------------------------------------------------------------------------------
*/}}
{{define "C++.StatementDefault"}}
  {{     if IsDeclareLocal $}}{{Macro "C++.StateType" (TypeOf $.Local)}} {{$.Local.Name}} = {{Macro "C++.Read" $.Local.Value}};
  {{else if IsAssign       $}}{{Macro "C++.Assign" $}}
  {{else if IsCopy         $}}{{Macro "C++.Copy" $}}
  {{else if IsMapAssign    $}}{{Macro "C++.MapAssign" $}}
  {{else if IsReturn       $}}return {{Macro "C++.Read" $.Value}};
  {{else if IsBranch       $}}if ({{Macro "C++.Read" $.Condition}}) {
      {{Macro "C++.Block" $.True}}
      {{if len $.False.Statements}}
    } else {
      {{Macro "C++.Block" $.False}}
    {{end}}
    }
  {{else if IsSwitch $}}
    switch ({{Macro "C++.Read" $.Value}}) {
      {{range $i, $c := $.Cases}}
        {{range $j, $cond := $c.Conditions}}
          case {{Macro "C++.Read" $cond}}:{{if HasMore $j $c.Conditions}} // fall-through...{{else}} {{"{"}}{{end}}
        {{end}}
          {{Macro "C++.Block" $c.Block}}
          break;
        }
      {{end}}
    }
  {{else if IsIteration $}}{{Macro "C++.Iteration" $}}
  {{else if IsCall      $}}{{Macro "C++.Call" $}};
  {{else if IsAssert    $}}
  {{else                 }}{{Error "unsupported statement %T: %v" $ $}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ logic to perform an assign statement.
-------------------------------------------------------------------------------
*/}}
{{define "C++.Assign"}}
  {{AssertType $ "Assign"}}

  {{if IsArray (TypeOf $.LHS)}}{{Macro "C++.ArrayAssign" $}}
  {{else                     }}{{Macro "C++.Read" $.LHS}} {{$.Operator}} {{Macro "C++.Read" $.RHS}};
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ logic to copy from Src to Dst
-------------------------------------------------------------------------------
*/}}
{{define "C++.Copy"}}
  {{AssertType $ "Copy"}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ logic to perform an assignment between two arrays.
-------------------------------------------------------------------------------
*/}}
{{define "C++.ArrayAssign"}}
  {{AssertType $ "Assign"}}

  {{AssertType (TypeOf $.LHS) "Array"}}
  {{AssertType (TypeOf $.RHS) "Array"}}

  {{$lhs   := Macro "C++.Read" $.LHS}}
  {{$rhs   := Macro "C++.Read" $.RHS}}
  {{$count := Macro "C++.Read" (GetArrayParamCount $.RHS)}}
  {{$lhs}}.resize({{$count}});
  for (int32_t i = 0, c = {{$count}}; i < c; i++) {
    {{$lhs}}[i] = {{$rhs}}[i];
  }
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ logic to perform a map assign statement.
-------------------------------------------------------------------------------
*/}}
{{define "C++.MapAssign"}}
  {{AssertType $ "MapAssign"}}

  {{Macro "C++.Read" $.To.Map}}[{{Macro "C++.Read" $.To.Index}}] {{$.Operator}} {{Macro "C++.Read" $.Value}};
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ logic to perform an iteration statement.
-------------------------------------------------------------------------------
*/}}
{{define "C++.Iteration"}}
  {{AssertType $ "Iteration"}}

  {{if IsBinaryOp $.Iterable}}
    {{Macro "C++.Range" "Name" $.Iterator.Name "Range" $.Iterable}} {
      {{Macro "C++.Block" $.Block}}
    }
  {{else}}
    for ({{Macro "C++.StateType" $.Iterable}}::iterator {{$.Iterator.Name}} = {{Macro "C++.Read" $.Iterable}}; {{$.Iterator.Name}} != {{Macro "C++.Read" $.Iterable}}.end(); ++{{$.Iterator.Name}}) {
      {{Macro "C++.Block" $.Block}}
    }
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ logic to read the given expression.
-------------------------------------------------------------------------------
*/}}
{{define "C++.Read"}}
  {{     if IsBoolValue        $}}{{$}}
  {{else if IsNumericValue     $}}{{$}}
  {{else if IsStringValue      $}}{{printf "%q" $}}
  {{else if IsParameter        $}}{{Macro "C++.ReadParameter" $}}
  {{else if IsBinaryOp         $}}{{Macro "C++.Read" $.LHS}} {{$.Operator}} {{Macro "C++.Read" $.RHS}}
  {{else if IsUnaryOp          $}}{{$.Operator}}({{Macro "C++.Read" $.Expression}})
  {{else if IsEnumEntry        $}}{{$.Enum.Name}}::{{$.Name}}
  {{else if IsLocal            $}}{{$.Name}}
  {{else if IsBitTest          $}}({{Macro "C++.Read" $.Bitfield}} & {{Macro "C++.Read" $.Bits}}) != 0
  {{else if IsBinaryOp         $}}({{Macro "C++.Read" $.LHS}}) {{$.Operator}} ({{Macro "C++.Read" $.RHS}})
  {{else if IsCast             $}}{{Macro "C++.Cast" $}}
  {{else if IsCall             $}}{{Macro "C++.Call" $}}
  {{else if IsUnknown          $}}{{Macro "C++.Read" $.Inferred}}
  {{else if IsObserved         $}}{{$.Parameter.Name}}
  {{else if IsMember           $}}{{Macro "C++.Dereference" $.Object}}m{{$.Field.Name}}
  {{else if IsGlobal           $}}this->{{$.Name}}
  {{else if IsParameter        $}}{{Macro "C++.ReadParameter" $}}
  {{else if IsArrayIndex       $}}{{Macro "C++.Read" $.Array}}[{{Macro "C++.Read" $.Index}}]
  {{else if IsMapIndex         $}}{{Macro "C++.Read" $.Map}}[{{Macro "C++.Read" $.Index}}]
  {{else if IsMapContains      $}}{{Macro "C++.Read" $.Map}}.count({{Macro "C++.Read" $.Key}}) > 0
  {{else if IsLength           $}}{{Macro "C++.Read" $.Object}}.size()
  {{else if IsNull             $}}{{Macro "C++.Null" $.Type}}
  {{else if IsClassInitializer $}}
    {{Macro "C++.StateType" $}}(){{range $f := $.Fields}}.Set{{$f.Field.Name}}({{Macro "C++.Read" $f.Value}}){{end}}
  {{else if IsNew              $}}{{$ty := Unpack $.Type}}std::shared_ptr<{{Macro "C++.StateType" $ty.To}}>(new {{Macro "C++.StateType" $ty.To}}())
  {{else if IsSelect           $}}
    /* switch({{Macro "C++.Read" $.Value}}) */»
    {{range $c := $.Choices}}
      /* case {{range $i, $cond := $c.Conditions}}{{if $i}}, {{end}}{{Macro "C++.Read" $cond}}{{end}}: */§
      ({{range $i, $cond := $c.Conditions}}§
          {{if $i}} || {{end}}({{Macro "C++.Read" $.Value}} == {{Macro "C++.Read" $cond}})§
      {{end}}) ? ({{Macro "C++.Read" $c.Expression}}) :
    {{end}}
    /* default: */ {{Macro "C++.StateType" $}}()«
  {{else}}{{Error "macro C++.Read called with unsupported type: %T" $}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a C++ dereference (-> or .) for the given value.
-------------------------------------------------------------------------------
*/}}
{{define "C++.Dereference"}}
  {{Macro "C++.Read" $}}{{if IsPointer (TypeOf $)}}->{{else}}.{{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a comma-separated list of reads.
-------------------------------------------------------------------------------
*/}}
{{define "C++.ReadList"}}
  {{range $i, $v := $}}
    {{if $i}}, {{end}}{{Macro "C++.Read" $v}}§
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ logic to execute an iteration statement.
-------------------------------------------------------------------------------
*/}}
{{define "C++.Range"}}
  {{AssertType $.Name "string"}}
  {{AssertType $.Range "BinaryOp"}}

  for ({{Macro "C++.StateType" $.Range.RHS}} {{$.Name}} = {{Macro "C++.Read" $.Range.LHS}}; {{$.Name}} < {{Macro "C++.Read" $.Range.RHS}}; ++{{$.Name}})
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ logic to execute a cast expression.
-------------------------------------------------------------------------------
*/}}
{{define "C++.Cast"}}
  {{AssertType $ "Cast"}}
  {{$src_ty := TypeOf $.Object}}
  {{$src_fp := or (IsF32 $src_ty) (IsF64 $src_ty)}}

  {{if and ($src_fp) (IsEnum $.Type)}}
    {{/* static_cast from a floating point number to an enum is an error with MSVC.
         Go via uint32_t. */}}
    static_cast<{{Macro "C++.StateType" $.Type}}>(static_cast<uint32_t>({{Macro "C++.Read" $.Object}} + 0.5f))
  {{else}}
    static_cast<{{Macro "C++.StateType" $.Type}}>({{Macro "C++.Read" $.Object}})
  {{end}}

{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ logic to execute a call expression.
-------------------------------------------------------------------------------
*/}}
{{define "C++.Call"}}
  {{AssertType $ "Call"}}

  {{if $.Target.Object}}{{Macro "C++.MethodCall" $}}
  {{else}}{{/* extern */}}
    {{Global "C++.ExternPrefix"}}{{$.Target.Function.Name}}({{Macro "C++.ReadList" $.Arguments}})
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ logic to execute a method call expression.
-------------------------------------------------------------------------------
*/}}
{{define "C++.MethodCall"}}
  {{$is_map_delete := and (IsMap (TypeOf $.Target.Object)) (eq $.Target.Function.Name "Delete")}}

  {{if $is_map_delete}}{{Macro "C++.Read" $.Target.Object}}.erase({{Macro "C++.ReadList" $.Arguments}})
  {{else             }}{{Macro "C++.Read" $.Target.Object}}.{{$.Target.Function.Name}}({{Macro "C++.ReadList" $.Arguments}})
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ logic to read the given parameter, de-referencing if the
  parameter is an output and its type is not a pointer, array or string.
-------------------------------------------------------------------------------
*/}}
{{define "C++.ReadParameter"}}
  {{AssertType $ "Parameter"}}

  {{$ty       := TypeOf $}}
  {{$isResult := eq $.Name $.Function.Return.Name}}
  {{$deref    := not (or (IsPointerType $ty) (IsArray $ty) (IsString $ty) $isResult)}}
  {{if and $.Output $deref}}*{{end}}{{$.Name}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Transforms the given string or identifier into a format used for a public
  type or field. Example:
    this_is_public -> ThisIsPublic
-------------------------------------------------------------------------------
*/}}
{{define "C++.Public"}}
  {{AssertType $ "string"}}

  {{$ | SplitOn "_" | Title}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a comment stating that the file is automatically generated.
-------------------------------------------------------------------------------
*/}}
{{define "C++.GeneratedHeader"}}{{Copyright "generated" "apic"}}{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the Android Open Source Project copyright header.
-------------------------------------------------------------------------------
*/}}
{{define "C++.AOSP.Copyright"}}{{Copyright "generated_aosp_c" "apic"}}{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the fixed-size-array postfix for static array types.
-------------------------------------------------------------------------------
*/}}
{{define "C++.ArrayPostfix"}}
  {{if not (IsType $)}}{{Macro "C++.ArrayPostfix" (TypeOf $)}}
  {{else if IsStaticArray $}}{{range $i := $.Dimensions}}[{{$i}}]{{end}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a comment block containing the specified text.
-------------------------------------------------------------------------------
*/}}
{{define "C++.CommentHeader"}}
  {{AssertType $ "string"}} {{/* The comment block body text */}}
  ////////////////////////////////////////////////////////////////////////////////
  // {{.}}
  ////////////////////////////////////////////////////////////////////////////////
{{end}}

{{/* Defaults */}}
{{if not (Global "C++.ExternPrefix")}}
  {{Global "C++.ExternPrefix" ""}}
{{end}}

{{$clang_style := "{BasedOnStyle: Google, AccessModifierOffset: -4, ColumnLimit: 100, ContinuationIndentWidth: 8, IndentWidth: 4}"}}
{{Global "clang-format" (Strings "clang-format" "-style" $clang_style)}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ global method name for the given method or function.
-------------------------------------------------------------------------------
*/}}
{{define "C++.MethodName"}}
  {{AssertType $ "Function"}}

  {{$p := Global "prefix"}}
  {{if $p}}
    {{$p}}{{if $.Owner}}{{Title $.Owner.Typename}}{{end}}{{Title $.Name}}
  {{else}}
    {{if $.Owner}}{{$.Owner.Typename}}{{Title $.Name}}
    {{else}}{{$.Name}}
    {{end}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ name of an enum type.
-------------------------------------------------------------------------------
*/}}
{{define "C++.EnumName"}}
  {{AssertType $ "Enum"}}

  {{if $p := Global "prefix"}}{{$p}}{{Title $.Name}}
  {{else}}{{$.Name}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the C++ name of an enum entry.
-------------------------------------------------------------------------------
*/}}
{{define "C++.EnumEntryName"}}
  {{AssertType $.Enum "Enum"}}
  {{AssertType $.Name "string"}}

  {{/* TODO: Get rid of enum prefixes. */}}
  {{if $enumPrefix := GetAnnotation $.Enum "prefix"}}
    {{index $enumPrefix.Arguments 0}}_§
  {{else if $apiPrefix := Global "prefix"}}
    {{Upper $apiPrefix}}_§
    {{$.Enum.Name | SplitPascalCase | Upper | JoinWith "_"}}_§
  {{end}}
  {{TrimLeft "_" $.Name}}
{{end}}
