{{/*
Copyright (C) 2015 The Android Open Source Project
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
     http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/}}
{{/*
-------------------------------------------------------------------------------
  Emits all the statements in the given block
-------------------------------------------------------------------------------
*/}}
{{define "Block"}}
  {{range $_, $s := $.Statements}}
    {{Macro "Statement" $s}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the logic to execute the given statement
-------------------------------------------------------------------------------
*/}}
{{define "Statement"}}
  {{     if IsDeclareLocal $}}{{$.Local.Name}} := {{Macro "Read" $.Local.Value}} {{Macro "TypeComment" (TypeOf $.Local)}}
  {{else if IsAssert $}}
  {{else if IsAssign $}}{{Macro "Assign" "LHS" $.LHS "Operator" $.Operator "RHS" $.RHS}}
  {{else if IsMapAssign $}}{{Macro "MapAssign" "To" $.To "Operator" $.Operator "Value" $.Value}}
  {{else if IsReturn $}}{{Macro "Assign" "LHS" $.Function.Return "Operator" "=" "RHS" $.Value}}
  {{else if IsBranch $}}if {{Macro "Read" $.Condition}} {
    {{Macro "Block" $.True}}
    {{if len $.False.Statements}}
    } else {
      {{Macro "Block" $.False}}
    {{end}}
    }
  {{else if IsSwitch $}}
    switch {{Macro "Read" $.Value}} {
      {{range $i, $c := $.Cases}}
        case {{range $j, $cond := $c.Conditions}}§
          {{if $j}}, {{end}}{{Macro "Read" $cond}}§
          {{end}}:
            {{Macro "Block" $c.Block}}
      {{end}}
      default:
        // TODO: better unmatched handling
        v := {{Macro "Read" $.Value}}
        log.Printf("Error: Missing switch case handler for value %T %v", v, v)
    }
  {{else if IsIteration $}}{{Macro "Iteration" $}}
  {{else if IsCall      $}}{{Macro "Call" $}}
  {{else                     }}{{Error "unsupported statement %T: %v" $ $}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the logic to execute an iteration statement
-------------------------------------------------------------------------------
*/}}
{{define "Range"}}
  {{AssertType $.Name "string"}}
  {{AssertType $.Range "BinaryOp"}}
  for {{$.Name}} := {{Macro "Go.Type" $.Range.RHS}}({{Macro "Read" $.Range.LHS}}); {{$.Name}} < {{Macro "Read" $.Range.RHS}}; {{$.Name}}++
{{end}}

{{define "Iteration"}}
  {{AssertType $ "Iteration"}}
  {{     if IsBinaryOp $.Iterable}}
    {{Macro "Range" "Name" $.Iterator.Name "Range" $.Iterable}} {
      {{Macro "Block" $.Block}}
    }
  {{else}}
    for _, {{$.Iterator.Name}} := range {{Macro "Read" $.Iterable}}.Range() {
      {{Macro "Block" $.Block}}
    }
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the logic to execute a call statement
-------------------------------------------------------------------------------
*/}}
{{define "Call"}}
  {{AssertType $ "Call"}}
  {{if $.Target.Object}}{{Macro "Read" $.Target.Object}}.{{$.Target.Function.Name}}(§{{Macro "Args" $.Arguments}})
  {{else if eq $.Target.Function.Name "memcpy"}}
    {{Macro "Read" (index $.Arguments 0)}}.Write(m.State.Mem.Slice(memory.Range{
      Base: memory.Pointer({{Macro "Read" (index $.Arguments 1)}}),
      Size: uint64({{Macro "Read" (index $.Arguments 2)}}),
    }))
  {{else}}
    {{$.Target.Function.Name}}(§{{Macro "Args" $.Arguments}})
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a comma-separated list of argument reads
-------------------------------------------------------------------------------
*/}}
{{define "Args"}}
  {{range $i, $a := $}}{{if $i}}, {{end}}{{Macro "Read" $a}}{{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the logic to assign the RHS to the LHS
-------------------------------------------------------------------------------
*/}}
{{define "Assign"}}
  {{Macro "Read" $.LHS}} {{$.Operator}} {{Macro "Read" $.RHS}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the logic to assign a value to a map index
-------------------------------------------------------------------------------
*/}}
{{define "MapAssign"}}
  {{if eq $.Operator "="}}{{Macro "Read" $.To.Map}}.Set({{Macro "Read" $.To.Index}}, {{Macro "Read" $.Value}})
  {{else}}{{Error "Unsupported MapAssign operator %s" $.Operator}}{{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the logic to read the value of the specified expression
-------------------------------------------------------------------------------
*/}}
{{define "Read"}}
  {{     if IsBoolValue    $}}{{$}}
  {{else if IsNumericValue $}}{{$}}
  {{else if IsStringValue  $}}{{printf "%q" $}}
  {{else if IsEnumEntry    $}}{{$.Enum.Name}}_{{$.Name}}
  {{else if IsLocal        $}}{{$.Name}}
  {{else if IsBitTest      $}}(({{Macro "Read" $.Bits}}) & ({{Macro "Read" $.Bitfield}}) != 0)
  {{else if IsBinaryOp     $}}({{Macro "Read" $.LHS}}) {{$.Operator}} ({{Macro "Read" $.RHS}})
  {{else if IsCast         $}}{{Macro "Go.Type" $.Type}}({{Macro "Read" $.Object}})
  {{else if IsCall         $}}{{Macro "Call" $}}
  {{else if IsUnknown      $}}{{Macro "Read" $.Inferred}}
  {{else if IsObserved     $}}ω.Out.{{Macro "Go.Public" $.Parameter.Name}}
  {{else if IsMember       $}}{{Macro "Read" $.Object}}.{{Macro "Go.Public" $.Field.Name}}
  {{else if IsGlobal       $}}m.State.{{$.Name}}
  {{else if IsParameter    $}}{{if $.Output}}Σ{{else}}ω.In{{end}}.{{Macro "Go.Public" $.Name}}
  {{else if IsArrayIndex   $}}{{Macro "Read" $.Array}}[{{Macro "Read" $.Index}}]
  {{else if IsMapIndex     $}}{{Macro "Read" $.Map}}.GetOrError({{Macro "Read" $.Index}})
  {{else if IsMapContains  $}}{{Macro "Read" $.Map}}.Contains({{Macro "Read" $.Key}})
  {{else if IsLength       $}}
    {{if IsMap (TypeOf $.Object)}}{{Macro "Read" $.Object}}.Count()
    {{else}}len({{Macro "Read" $.Object}})
    {{end}}
  {{else if IsSelect       $}}
    func() (result {{Macro "Go.Type" $}}) {
      switch {{Macro "Read" $.Value}} {
        {{range $i, $c := $.Choices}}
          case {{range $j, $cond := $c.Conditions}}§
            {{if $j}}, {{end}}{{Macro "Read" $cond}}§
            {{end}}:
              return {{Macro "Read" $c.Expression}}
        {{end}}
      default:
        // TODO: better unmatched handling
        log.Panicf("Unmatched switch in capture")
        return result
      }
    }()
  {{else if IsClassInitializer $}}func(){{Macro "Go.Type" $}}{
    s := {{Macro "Go.Type" $}}{}
    s.Init()
    {{range $i, $f := $.Fields}}
      s.{{$f.Field.Name}} = {{Macro "Read" $f.Value}}
    {{end}}
    return s
  }()
  {{else if IsNew $}}func()*{{Macro "Go.Type" $}}{
    s := &{{Macro "Go.Type" $}}{}
    s.Init()
    {{range $i, $f := $.Initializer.Fields}}
      s.{{$f.Field.Name}} = {{Macro "Read" $f.Value}}
    {{end}}
    return s
  }()
  {{else}}{{Error "macro Read called with unsupported type: %T" $}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a comment displaying the specified type
-------------------------------------------------------------------------------
*/}}
{{define "TypeComment"}}
  {{AssertType $ "Type"}}

  // {{$.Name}}
{{end}}
