{{/*
Copyright (C) 2015 The Android Open Source Project
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
     http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/}}
{{/*
-------------------------------------------------------------------------------
  Emits the fully qualified name (prefixed with the package) of the specified
  type or variable.
-------------------------------------------------------------------------------
*/}}
{{define "Go.QualifiedName"}}{{Global "module"}}{{$.Name}}{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the go type for the provided AST type or expression.
-------------------------------------------------------------------------------
*/}}
{{define "Go.Type"}}
  {{if not (IsType $)}}{{Macro "Go.Type" (TypeOf $)}}
  {{else if IsAny           $}}interface{}
  {{else if IsPseudonym     $}}{{Macro "Go.QualifiedName" $}}
  {{else if IsArray         $}}{{Macro "Go.QualifiedName" $}}
  {{else if IsStaticArray   $}}{{Macro "Go.QualifiedName" $}}
  {{else if IsMap           $}}{{Macro "Go.QualifiedName" $}}
  {{else if IsClass         $}}{{Macro "Go.QualifiedName" $}}
  {{else if IsEnum          $}}{{Macro "Go.QualifiedName" $}}
  {{else if IsPointer       $}}{{if $.Array}}memory.Pointer{{else}}*{{Macro "Go.Type" $.To}}{{end}}
  {{else if IsBool          $}}bool
  {{else if IsInt           $}}int64
  {{else if IsUint          $}}uint64
  {{else if IsS8            $}}int8
  {{else if IsU8            $}}uint8
  {{else if IsS16           $}}int16
  {{else if IsU16           $}}uint16
  {{else if IsS32           $}}int32
  {{else if IsU32           $}}uint32
  {{else if IsF32           $}}float32
  {{else if IsS64           $}}int64
  {{else if IsU64           $}}uint64
  {{else if IsF64           $}}float64
  {{else if IsBuffer      $}}
    {{if $.Array}}
      {{if IsU8 $.To}}memory.Memory
      {{else if IsChar $.To}}string
      {{else}}[]{{Macro "Go.Type" $.To}}
      {{end}}
    {{else}}*{{Macro "Go.Type" $.To}}
    {{end}}
  {{else if IsString        $}}string
  {{else if IsVoid          $}}void
  {{else}}{{Error "macro Type called with unsupported type: %s" $.Name}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the go default value for the provided AST type.
-------------------------------------------------------------------------------
*/}}
{{define "Go.Null"}}
  {{AssertType $ "Type"}}
  {{     if IsPointer       $}}{{if $.Array}}memory.Pointer(0){{else}}nil{{end}}
  {{else if IsArray         $}}nil
  {{else if IsBool          $}}false
  {{else if IsInt           $}}int(0)
  {{else if IsUint          $}}uint(0)
  {{else if IsS8            $}}int8(0)
  {{else if IsU8            $}}uint8(0)
  {{else if IsS16           $}}int16(0)
  {{else if IsU16           $}}uint16(0)
  {{else if IsS32           $}}int32(0)
  {{else if IsU32           $}}uint32(0)
  {{else if IsF32           $}}float32(0)
  {{else if IsS64           $}}int64(0)
  {{else if IsU64           $}}uint64(0)
  {{else if IsF64           $}}float64(0)
  {{else if IsString        $}}""
  {{else if IsPseudonym     $}}{{Macro "Go.Type" $}}({{Macro "Go.Null" $.To}})
  {{else}}{{Error "macro Type called with unsupported type: %s" $.Name}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the logic to decode the specified variable.
-------------------------------------------------------------------------------
*/}}
{{define "Go.Decode"}}
  {{AssertType $.Type "Type"}}
  {{AssertType $.Name "string"}}

  {{     if IsPseudonym     $.Type}}if err := {{$.Name}}.Decode(d); err != nil { return err }
  {{else if IsArray         $.Type}}if err := {{$.Name}}.Decode(d); err != nil { return err }
  {{else if IsStaticArray   $.Type}}if err := {{$.Name}}.Decode(d); err != nil { return err }
  {{else if IsMap           $.Type}}if err := {{$.Name}}.Decode(d); err != nil { return err }
  {{else if IsClass         $.Type}}if err := {{$.Name}}.Decode(d); err != nil { return err }
  {{else if IsPointer       $.Type}}
    {{if $.Type.Array}}if v, err := d.Uint64();  err == nil { {{$.Name}} = memory.Pointer(v) } else { return err }
    {{else}}if err := {{$.Name}}.Decode(d); err != nil { return err }{{end}}
  {{else if IsBuffer        $.Type}}if err := {{$.Name}}.Decode(d); err != nil { return err }
  {{else if IsEnum          $.Type}}if v, err := d.Uint32();  err == nil { {{$.Name}} = {{$.Type.Name}}(v) } else { return err }
  {{else if IsBool          $.Type}}if v, err := d.Bool();    err == nil { {{$.Name}} = v } else { return err }
  {{else if IsInt           $.Type}}if v, err := d.Int64();   err == nil { {{$.Name}} = v } else { return err }
  {{else if IsUint          $.Type}}if v, err := d.Uint64();  err == nil { {{$.Name}} = v } else { return err }
  {{else if IsS8            $.Type}}if v, err := d.Int8();    err == nil { {{$.Name}} = v } else { return err }
  {{else if IsU8            $.Type}}if v, err := d.Uint8();   err == nil { {{$.Name}} = v } else { return err }
  {{else if IsS16           $.Type}}if v, err := d.Int16();   err == nil { {{$.Name}} = v } else { return err }
  {{else if IsU16           $.Type}}if v, err := d.Uint16();  err == nil { {{$.Name}} = v } else { return err }
  {{else if IsS32           $.Type}}if v, err := d.Int32();   err == nil { {{$.Name}} = v } else { return err }
  {{else if IsU32           $.Type}}if v, err := d.Uint32();  err == nil { {{$.Name}} = v } else { return err }
  {{else if IsF32           $.Type}}if v, err := d.Float32(); err == nil { {{$.Name}} = v } else { return err }
  {{else if IsS64           $.Type}}if v, err := d.Int64();   err == nil { {{$.Name}} = v } else { return err }
  {{else if IsU64           $.Type}}if v, err := d.Uint64();  err == nil { {{$.Name}} = v } else { return err }
  {{else if IsF64           $.Type}}if v, err := d.Float64(); err == nil { {{$.Name}} = v } else { return err }
  {{else if IsString        $.Type}}if v, err := d.String();  err == nil { {{$.Name}} = v } else { return err }
  {{else if IsAny           $.Type}}/* TODO */
  {{else if IsVoid          $.Type}}
  {{else}}{{Error "macro Decode '%v' called with unsupported type: %v" $.Name $.Type.Name}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Transforms the given string or identifier into a format used for a public Go
  type or field. Example:
    this_is_go_public -> ThisIsGoPublic
-------------------------------------------------------------------------------
*/}}
{{define "Go.Public"}}
  {{AssertType $ "string"}}

  {{$ | SplitOn "_" | Title}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Transforms the given string or identifier into a format used for a private Go
  type or field. Example:
    this_is_go_private -> thisIsGoPrivate
-------------------------------------------------------------------------------
*/}}
{{define "Go.Private"}}
  {{AssertType $ "string"}}

  {{$ | SplitOn "_" | Title | Join | Untitle}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the expression to lookup the given parameter.
-------------------------------------------------------------------------------
*/}}
{{define "Go.Parameter"}}{{AssertType $ "Parameter"}}{{Macro "Go.Public" $.Name}}{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the name of the specified command's structure.
-------------------------------------------------------------------------------
*/}}
{{define "Go.CmdName"}}{{AssertType $ "Function"}}{{if $.Owner}}{{Macro "Go.Type" $.Owner}}{{end}}{{Macro "Go.Public" $.Name}}{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a comment stating that the file is automatically generated.
-------------------------------------------------------------------------------
*/}}
{{define "Go.GeneratedHeader"}}
  {{Copyright "generated" "apic"}}¶
  package {{$}};
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a comment block containing the specified text.
-------------------------------------------------------------------------------
*/}}
{{define "Go.CommentHeader"}}
  {{AssertType $ "string"}} {{/* The comment block body text */}}
  ////////////////////////////////////////////////////////////////////////////////
  // {{.}}
  ////////////////////////////////////////////////////////////////////////////////
{{end}}
