{{/*
Copyright (C) 2015 The Android Open Source Project
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
     http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/}}
{{Global "module" ""}}
{{Include "go_common.tmpl" "expression_evaluator.go.tmpl"}}
{{$ | Macro "replay_writer.go" | GoFmt | Write "replay_writer.go"}}

{{define "replay_writer.go"}}
  {{template "Go.GeneratedHeader" (Global "OutputDir")}}

  import (
    "fmt"
    "io"
    "io/ioutil"

    "android.googlesource.com/platform/tools/gpu/atom"
    "android.googlesource.com/platform/tools/gpu/binary"
    "android.googlesource.com/platform/tools/gpu/memory"
    "android.googlesource.com/platform/tools/gpu/replay/builder"
    "android.googlesource.com/platform/tools/gpu/replay/protocol"
    "android.googlesource.com/platform/tools/gpu/replay/value"
  )

  func readBytes(r binary.Reader, c uint64) ([]byte, error) {
    b := make([]byte, c)
    err := r.Data(b)
    return b, err
  }

  func readString(r binary.Reader, c uint64) (string, error) {
    if buf, err := readBytes(r, c); err == nil {
      str := string(buf)
      for i, c := range str {
        if c == 0 {
          return str[:i], nil
        }
      }
      return str, nil
    } else {
      return "", err
    }
  }

  {{template "DeclareBuilderFunctionInfos" $}}

  {{ForEach $.Classes "DeclareClassValue" | JoinWith "\n"}}

  {{ForEach $.Pseudonyms "DeclarePseudonymValue" | JoinWith "\n"}}

  {{ForEach $.Arrays "DeclareArrayValue" | JoinWith "\n"}}

  {{ForEach $.StaticArrays "DeclareArrayValue" | JoinWith "\n"}}

  {{ForEach (AllCommands $) "DeclarePostbacks" | JoinWith "\n"}}

  func loadRemap(b *builder.Builder, key interface{}, val value.Value) {
    ptr, found := b.Remappings[key]
    if found {
      b.Load(val.Type(), ptr)
    } else {
      ptr = b.AllocateMemory(uint64(val.Type().Size(b.PointerSize())))
      b.Push(val) // We have an input to an unknown id, use the unmapped value.
      b.Clone(0)
      b.Store(ptr)
      b.Remappings[key] = ptr
    }
  }

  func storeRemap(b *builder.Builder, key interface{}, val value.Pointer, ty protocol.Type) {
    ptr, found := b.Remappings[key]
    if !found {
      ptr = b.AllocateMemory(uint64(ty.Size(b.PointerSize())))
      b.Load(ty, val)
      b.Store(ptr)
      b.Remappings[key] = ptr
    }
  }

  {{ForEach (AllCommands $) "DeclareCommandReplay" | JoinWith "\n"}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a function info definition for each of the commands.
-------------------------------------------------------------------------------
*/}}
{{define "DeclareBuilderFunctionInfos"}}
  {{AssertType $ "API"}}

  {{range $i, $c := AllCommands $}}
    var {{Macro "BuilderFunctionInfo" $c}} = builder.FunctionInfo{§
      ID: {{$i}},§
      ReturnType: {{Macro "BuilderType" $c.Return.Type}},§
      Parameters: {{len $c.CallParameters}},§
    }
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a function info definition for the given class, if non-internal.
-------------------------------------------------------------------------------
*/}}
{{define "DeclareClassValue"}}
  {{AssertType $ "Class"}}

  {{if not (or (GetAnnotation $ "internal") (GetAnnotation $ "Interface"))}}
    func (c {{Macro "Go.Type" $}}) value(ϟb *builder.Builder, ϟa atom.Atom, ϟs *state.State) value.Value {
      {{$union := GetAnnotation $ "union"}}
      {{range $i, $f := $.Fields}}
        {{/* TODO: Figure out proper handling of unions. */}}
        {{if not (and $i $union)}}
          {{$fname := (print "c." (Macro "Go.Public" $f.Name))}}
          ϟb.Push({{Macro "Value" "Type" $f.Type "Name" $fname}})
        {{end}}
      {{end}}
      return ϟb.Buffer(§
        {{if $union}}1
        {{else}}{{range $i, $_ := $.Fields}}{{if not (HasMore $i $.Fields)}}{{$i}}+1{{end}}{{end}}
        {{end}}§)
    }
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Declares the value method for a given pseudonym type.
-------------------------------------------------------------------------------
*/}}
{{define "DeclarePseudonymValue"}}
  {{AssertType $ "Pseudonym"}}

  {{if not (GetAnnotation $ "replay_custom_value")}}
    {{$v := print (Macro "Go.Type" $.To) "(c)"}}
    func (c {{$.Name}}) value(ϟb *builder.Builder, ϟa atom.Atom, ϟs *state.State) value.Value { return {{Macro "Value" "Type" $.To "Name" $v}} }
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Declares the value method for the given array or static array type.
-------------------------------------------------------------------------------
*/}}
{{define "DeclareArrayValue"}}
  {{AssertType $ "Array" "StaticArray"}}

  {{if not (or (GetAnnotation $.ValueType "internal") (IsAny $.ValueType))}}
    func (arr {{Macro "Go.Type" $}}) value(ϟb *builder.Builder, ϟa atom.Atom, ϟs *state.State) value.Pointer {
      if len(arr) > 0 {
        for _, e := range arr {
          {{Macro "PushInput" "Type" $.ValueType "Name" "e"}}
        }
        return ϟb.Buffer(len(arr))
      } else {
        return value.AbsolutePointer(0)
      }
    }
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Declares the postback structs for the given command's outputs.
-------------------------------------------------------------------------------
*/}}
{{define "DeclarePostbacks"}}
  {{AssertType $ "Function"}}

  {{if len $.Outputs}} {{/* Skip commands with no output */}}
    {{$name := Macro "CmdPostbacksName" $}}
    type {{$name}} struct {
      {{range $p := $.Outputs}}
        {{Macro "Go.Public" $p.Name}} {{Macro "PostbackType" (TypeOf $p)}}
      {{end}}
    }

    {{$array_counts := Macro "ArrayCountsList" "Command" $ "Postfix" "uint64, "}}
    func (o *{{$name}}) Decode({{$array_counts}}d binary.Decoder) error {
      {{/* Decode each of the output parameters */}}
      {{range $p := $.Outputs}}
        {{$name := print "o." (Macro "Go.Public" $p.Name)}}
        {{$count := Macro "ArrayCount" $p.Name}}
        {{Macro "DecodePostback" "Type" (TypeOf $p) "Name" $name "Count" $count}}
      {{end}}
      return nil
    }
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the name of the specified command's postback structure
-------------------------------------------------------------------------------
*/}}
{{define "CmdPostbacksName"}}{{Macro "Go.CmdName" $}}_Postback{{end}}


{{/*
-------------------------------------------------------------------------------
  Returns the go type used to store the postback value of the specified type.
-------------------------------------------------------------------------------
*/}}
{{define "PostbackType"}}
  {{AssertType $ "Type"}}

  {{if IsPointerType (Underlying $)}}[]byte
  {{else if IsPointer (Underlying $)}}[]byte
  {{else}}{{Macro "Go.Type" $}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Decode the specified value that was returned through a post-back.
-------------------------------------------------------------------------------
*/}}
{{define "DecodePostback"}}
  {{AssertType $.Type "Type"}}
  {{AssertType $.Name "string"}}
  {{AssertType $.Count "string"}}

  {{     if IsString      $.Type}}if val, err := readString(d, {{$.Count}}); err == nil { {{$.Name}} = val } else { return err }
  {{else if IsPointer     $.Type}}if val, err := readBytes(d, {{$.Count}});  err == nil { {{$.Name}} = val } else { return err }
  {{else if IsPointerType $.Type}}if val, err := readBytes(d, {{$.Count}});  err == nil { {{$.Name}} = val } else { return err }
  {{else if IsPseudonym   $.Type}}
    {
      var x {{Macro "PostbackType" $.Type.To}}
      {{Macro "DecodePostback" "Type" $.Type.To "Name" "x" "Count" $.Count}}
      {{$.Name}} = {{Macro "PostbackType" $.Type}}(x)
    }
  {{else if IsArray       $.Type}}
    {{$.Name}} = make({{Macro "PostbackType" $.Type}}, {{$.Count}})
    for i := range {{$.Name}} {
      {{$el := print $.Name "[i]"}}
      {{Macro "DecodePostback" "Type" $.Type.ValueType "Name" $el "Count" "<array-element>"}}
    }
  {{else}}{{Macro "Go.Decode" "Type" $.Type "Name" $.Name}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the replay function for the specified command
-------------------------------------------------------------------------------
*/}}
{{define "DeclareCommandReplay"}}
  {{AssertType $ "Function"}}

  {{$name := Macro "Go.CmdName" $}}
  var _ = replay.Replayer(&{{$name}}{}) // interface compliance check
  {{if GetAnnotation $ "replay_custom"}}
    func (ϟa *{{$name}}) defaultReplay(ϟi atom.ID, ϟs *state.State, ϟb *builder.Builder, postback bool) {
  {{else}}
    func (ϟa *{{$name}}) Replay(ϟi atom.ID, ϟs *state.State, ϟb *builder.Builder, postback bool) {
  {{end}}
  ϟc := {{if GetAnnotation $ "synthetic"}}&State{}{{else}}getState(ϟa, ϟs){{end}}
  _ = ϟc

  ϟb.BeginAtom(ϟi)
  {{/* Declare all the of local variables describing the array counts */}}
  {{template "DefineArrayCounts" $}}

  {{if len $.Outputs}}
    {{/* Create a temporary buffer to hold all the output parameters */}}
    outputs, size := ϟb.AllocateTemporaryMemoryChunks([]uint64{§
      {{range $i, $p := $.Outputs}}
        {{if $i}},{{end}} {{Macro "ParameterSize" $p}} /* {{$p.Name}} */§
      {{end}}
    })
  {{end}}

  {{/* Push all the parameters on the stack */}}
  {{range $p := $.CallParameters}}
    {{$type := TypeOf $p}}
    {{$name := print "ϟa." (Macro "Go.Parameter" $p)}}
    {{if $p.Output}} ϟb.Push(outputs[{{IndexOf $.Outputs $p}}]) // {{$p.Name}}
    {{else        }} {{Macro "PushInput" "Type" $type "Name" $name}}
    {{end}}
  {{end}}

  {{/* Call the function */}}
  {{if not (IsVoid $.Return.Type)}}
    ϟb.CallPush({{Macro "BuilderFunctionInfo" $}})
    {{$destination := print "outputs[" (IndexOf $.Outputs $.Return) "]"}}
    {{Macro "StoreReturn" "Type" $.Return.Type "Destination" $destination}}
  {{else}}
    ϟb.CallNoPush({{Macro "BuilderFunctionInfo" $}})
  {{end}}

  {{/* Simulate the call */}}
  ϟa.Mutate(ϟs)

  {{/* Remap outputs */}}
  {{range $i, $p := $.Outputs}}
    {{$type    := TypeOf $p}}
    {{$name    := print "ϟa." (Macro "Go.Parameter" $p)}}
    {{$pointer := print "outputs[" $i "]"}}
    {{Macro "RemapOutput" "Pointer" $pointer "Type" $type "Name" $name}}
  {{end}}

  {{if len $.Outputs}}
  {{/* Post back the data, if it is wanted */}}
    if postback {
      ϟb.Post(outputs[0], size, ϟi, func(d binary.Decoder) (interface{}, error) {
        postback := {{Macro "CmdPostbacksName" $}}{}
        {{$array_counts := Macro "ArrayCountsList" "Command" $ "Postfix" ", "}}
        if err := postback.Decode({{$array_counts}}d); err != nil {
          return nil, err
        }
        return postback, nil
      })
    }
  {{end}}
  ϟb.EndAtom()
  }
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits logic to store the pushed return value to the specified address.
-------------------------------------------------------------------------------
*/}}
{{define "StoreReturn"}}
  {{AssertType $.Type "Type"}}
  {{AssertType $.Destination "string"}}

  {{$name := "result"}}

  {{     if IsPseudonym $.Type}}
    {{Macro "StoreReturn" "Type" $.Type.To "Destination" $.Destination}}
  {{else if IsArray     $.Type}}
    ϟb.Push({{$.Destination}})
    ϟb.Copy({{Macro "ArrayCount" $name}} * {{Macro "SizeOf" "Type" $.Type.ValueType}})
  {{else if IsString $.Type}}
    ϟb.Push({{$.Destination}})
    ϟb.Strcpy({{Macro "ArrayCount" $name}})
  {{else if IsPointerType $.Type}}
    ϟb.Push({{$.Destination}})
    ϟb.Copy({{Macro "ArrayCount" $name}})
  {{else if IsPointer $.Type}}
    ϟb.Push({{$.Destination}})
    ϟb.Copy({{Macro "ArrayCount" $name}})
  {{else}}
    ϟb.Store({{$.Destination}})
  {{end}}

{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits logic to push the specified input variable to the VM's stack.
-------------------------------------------------------------------------------
*/}}
{{define "PushInput"}}
  {{AssertType $.Type "Type"}}
  {{AssertType $.Name "string"}}

  {{if (GetAnnotation $.Type "replay_remap")}}
    if key, remap := {{$.Name}}.remap(ϟa, ϟs); remap {
      loadRemap(ϟb, key, {{Macro "Value" "Type" $.Type "Name" $.Name}})
    } else {
      ϟb.Push({{Macro "Value" "Type" $.Type "Name" $.Name}})
    }
  {{else}}
    ϟb.Push({{Macro "Value" "Type" $.Type "Name" $.Name}})
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits logic to call the output remapping for the specified variable, if
  annotated with the 'remap' annotation.
-------------------------------------------------------------------------------
*/}}
{{define "RemapOutput"}}
  {{AssertType $.Type "Type"}}
  {{AssertType $.Name "string"}}
  {{AssertType $.Pointer "string"}}

  {{if (GetAnnotation $.Type "replay_remap")}}
    if key, remap := {{$.Name}}.remap(ϟa, ϟs); remap {
      storeRemap(ϟb, key, {{$.Pointer}}, {{Macro "BuilderType" $.Type}})
    }
  {{else if IsArray $.Type}}
    {{$type    := $.Type.ValueType}}
    {{$name    := "e"}}
    {{$pointer := print $.Pointer ".Offset(uint64(i * " (Macro "SizeOf" "Type" $type) "))"}}
    {{$remap_el := Macro "RemapOutput" "Type" $type "Name" $name "Pointer" "ptr"}}
    {{if $remap_el}}
      for i, e := range {{$.Name}} {
        ptr := {{$pointer}}
        {{$remap_el}}
      }
    {{end}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the name of the variable holding the specified command's function id.
-------------------------------------------------------------------------------
*/}}
{{define "BuilderFunctionInfo"}}{{AssertType $ "Function"}}funcInfo{{Macro "Go.CmdName" $}}{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the size in bytes of the specified parameter.
-------------------------------------------------------------------------------
*/}}
{{define "ParameterSize"}}
  {{AssertType $ "Parameter"}}

  {{Macro "SizeOf" "Type" (TypeOf $) "Name" $.Name}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the variable name holding the count of elements in the specified array.
-------------------------------------------------------------------------------
*/}}
{{define "ArrayCount"}}{{AssertType $ "string"}}{{$}}_cnt{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the size in bytes of the specified variable by type and name.
-------------------------------------------------------------------------------
*/}}
{{define "SizeOf"}}
  {{AssertType $.Type "Type"}}

  {{     if IsPseudonym     $.Type}}{{Macro "SizeOf" "Type" $.Type.To "Name" $.Name}}
  {{else if IsArray         $.Type}}{{AssertType $.Name "string"}}{{Macro "ArrayCount" $.Name}} * {{Macro "SizeOf" "Type" $.Type.ValueType}}
  {{else if IsStaticArray   $.Type}}{{AssertType $.Name "string"}}{{Macro "ArrayCount" $.Name}} * {{Macro "SizeOf" "Type" $.Type.ValueType}}
  {{else if IsString        $.Type}}{{AssertType $.Name "string"}}{{Macro "ArrayCount" $.Name}}
  {{else if IsPointerType   $.Type}}{{AssertType $.Name "string"}}{{Macro "ArrayCount" $.Name}}
  {{else if IsBool          $.Type}}1
  {{else if IsS8            $.Type}}1
  {{else if IsU8            $.Type}}1
  {{else if IsS16           $.Type}}2
  {{else if IsU16           $.Type}}2
  {{else if IsS32           $.Type}}4
  {{else if IsU32           $.Type}}4
  {{else if IsF32           $.Type}}4
  {{else if IsS64           $.Type}}8
  {{else if IsU64           $.Type}}8
  {{else if IsF64           $.Type}}8
  {{else if IsEnum          $.Type}}4
  {{else if IsPointer       $.Type}}{{if $.Type.Array}}{{AssertType $.Name "string"}}{{Macro "ArrayCount" $.Name}}{{else}}uint64(ϟb.PointerSize()){{end}}
  {{else if IsInt           $.Type}}uint64(ϟb.PointerSize()) /* TODO: sizeof(void*) may not equal sizeof(int) */
  {{else if IsUint          $.Type}}uint64(ϟb.PointerSize()) /* TODO: sizeof(void*) may not equal sizeof(unsigned int) */
  {{else                          }}{{Error "macro SizeOf '%s' called with unsupported type: %v" $.Name $.Type}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  For each output array parameter, declare a local variable assigned to the
  number of elements in the array.
-------------------------------------------------------------------------------
*/}}
{{define "DefineArrayCounts"}}
  {{AssertType $ "Function"}}

  {{range $p := $.FullParameters}}
    {{if $p.Output}}
      {{$count := GetArrayParamCount $p}}
      {{if $count}}
        {{Macro "ArrayCount" $p.Name}} := uint64({{Macro "Read" $count}})
      {{end}}
    {{end}}
  {{end}}
  {{if $limit := GetAnnotation $ "ReturnSize"}}
    {{Macro "ArrayCount" $.Return.Name}} := uint64({{Macro "Read" (index $limit.Arguments 0)}})
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits a comma-separated list of array count variable names used by the
  specified command.
-------------------------------------------------------------------------------
*/}}
{{define "ArrayCountsList" }}
  {{AssertType $.Command "Function"}}
  {{AssertType $.Postfix "string"}}

  {{range $p := $.Command.FullParameters}}
    {{if $p.Output}}
      {{$count := GetArrayParamCount $p}}
      {{if $count}}
        {{Macro "ArrayCount" $p.Name}} {{$.Postfix}}
      {{end}}
    {{end}}
  {{end}}
  {{if GetAnnotation $.Command "ReturnSize"}}
      {{Macro "ArrayCount" $.Command.Return.Name}} {{$.Postfix}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Returns the builder.Value holding the specified variable.
-------------------------------------------------------------------------------
*/}}
{{define "Value"}}
  {{AssertType $.Type "Type"}}
  {{AssertType $.Name "string"}}

  {{if (GetAnnotation $.Type "replay_custom_value")}}{{$.Name}}.value(ϟb, ϟa, ϟs)
  {{else if IsBool        $.Type}}value.Bool({{$.Name}})
  {{else if IsS8          $.Type}}value.S8({{$.Name}})
  {{else if IsU8          $.Type}}value.U8({{$.Name}})
  {{else if IsS16         $.Type}}value.S16({{$.Name}})
  {{else if IsU16         $.Type}}value.U16({{$.Name}})
  {{else if IsF32         $.Type}}value.F32({{$.Name}})
  {{else if IsU32         $.Type}}value.U32({{$.Name}})
  {{else if IsS32         $.Type}}value.S32({{$.Name}})
  {{else if IsF64         $.Type}}value.F64({{$.Name}})
  {{else if IsU64         $.Type}}value.U64({{$.Name}})
  {{else if IsS64         $.Type}}value.S64({{$.Name}})
  {{else if IsInt         $.Type}}value.S64({{$.Name}})
  {{else if IsUint        $.Type}}value.U64({{$.Name}})
  {{else if IsString      $.Type}}ϟb.String({{$.Name}})
  {{else if IsPointer     $.Type}}value.VolatileCapturePointer(uint64({{$.Name}}))
  {{else if IsPointerType $.Type}}value.VolatileCapturePointer(uint64({{$.Name}}))
  {{else if IsEnum        $.Type}}value.U32({{$.Name}})
  {{else if IsArray       $.Type}}{{$.Name}}.value(ϟb, ϟa, ϟs)
  {{else if IsStaticArray $.Type}}{{$.Name}}.value(ϟb, ϟa, ϟs)
  {{else if IsPseudonym   $.Type}}{{$.Name}}.value(ϟb, ϟa, ϟs)
  {{else if IsClass       $.Type}}{{$.Name}}.value(ϟb, ϟa, ϟs)
  {{else                          }}{{Error "macro Value '%v' called with unsupported type: %s" $.Name $.Type.Name}}
  {{end}}
{{end}}


{{/*
-------------------------------------------------------------------------------
  Emits the replay builder type for the given command return type.
-------------------------------------------------------------------------------
*/}}
{{define "BuilderType"}}
  {{AssertType $ "Type"}}

  {{     if IsPseudonym   $}}{{Macro "BuilderType" $.To}}
  {{else if IsPointerType $}}protocol.TypeAbsolutePointer
  {{else if IsMemory      $}}protocol.TypeAbsolutePointer
  {{else if IsString      $}}protocol.TypeAbsolutePointer
  {{else if IsArray       $}}protocol.TypeAbsolutePointer
  {{else if IsPointer     $}}protocol.TypeAbsolutePointer
  {{else if IsEnum        $}}protocol.TypeUint32
  {{else if IsBool        $}}protocol.TypeBool
  {{else if IsInt         $}}protocol.TypeInt32
  {{else if IsUint        $}}protocol.TypeUint32
  {{else if IsS8          $}}protocol.TypeInt8
  {{else if IsU8          $}}protocol.TypeUint8
  {{else if IsS16         $}}protocol.TypeInt16
  {{else if IsU16         $}}protocol.TypeUint16
  {{else if IsS32         $}}protocol.TypeInt32
  {{else if IsU32         $}}protocol.TypeUint32
  {{else if IsF32         $}}protocol.TypeFloat
  {{else if IsS64         $}}protocol.TypeInt64
  {{else if IsU64         $}}protocol.TypeUint64
  {{else if IsF64         $}}protocol.TypeDouble
  {{else if IsVoid        $}}protocol.TypeVoid
  {{else}}{{Error "macro Type called with unsupported type: %s" $.Name}}
  {{end}}
{{end}}
